/*body {
    background: #c7e7ff;
    background: -moz-linear-gradient(#2890cd, #c7e7ff);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(16%, #2890cd), color-stop(109%, #c7e7ff));
    background: -webkit-linear-gradient(#2890cd, #c7e7ff); 
    background: -o-linear-gradient(#2890cd, #c7e7ff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2890cd', endColorstr='#c7e7ff');  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2890cd', endColorstr='#c7e7ff')"; 
    background: linear-gradient(#2890cd, #c7e7ff);
    overflow-y: auto;
    -webkit-font-smoothing: antialiased;
    zoom: 1;
}*/
#lightbox {  
    background-color: #000000;
    display: none;  
    height: 100%;
    left: 0;
    margin: 0;
    min-width: 100%; 
    opacity: 0.8; 
    position: fixed;  
    top: 0;
    z-index: 1000;
}    
.lightbox-panel {
    background: #8ed4f4 url('../images/leaf-bg.png') no-repeat center 41%;
    background-size: 300px 155px;
    border-radius: 10px;
    display: none;  
    left: 2.4%;
    margin: 2% 0 0;
    height: 100%;
    min-width: 80%;
    padding: 5% 0 0 16px;
    position: relative; 
    top: 0;    
    width: 90%;
    z-index: 1001;
}  
.lightbox-panel .close-btn {
    background-color: #c0d749;
    border-radius: 50%;
    box-shadow: inset 0 0 3px 1px #888888;
    color: white;
    float: right;
    font-size: 32px;
    font-weight: bold;
    height: 30px;
    line-height: 31px;
    position: relative;
    right: 7px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0px #999999;
    top: -10px;
    width: 30px;
}
.lightbox-panel h2 {
    color: white;
    font: 1.313em 'ProximaNovaBold', Helvetica, sans-serif;
    margin: 30px 0 6% 2%;
    text-align: left;
    text-shadow: 1px 1px 2px rgba(0,0,0,.4);
    text-transform: uppercase;
}
.lightbox-panel ol {
    display: block;
    counter-reset: numList;
    list-style: none;
    overflow: auto;
    padding: 0 0 0 44px;
}
.lightbox-panel ol li {
    float: left;
    font-size: 0.875em;
    position: relative;
    margin: 2px 28px 12.8% 0;
}
.lightbox-panel ol li:before {
   background: #b5c427;
   border-top-right-radius: 14px;
   border-bottom-left-radius: 14px;
   color: #fff;
   content: counter(numList);  
   counter-increment: numList;
   float: left;
   font-size: 28px;
   height: 36px;
   left: -44px;
   line-height: 38px;
   position: absolute;
   text-align: center;
   top: -2px;
   width: 36px; 
}
.lightbox-panel a#camerainstructionlink {
    color: #007bb5;
    display: block;
    font-size: 1.231em;
    font-weight: 100;
    margin: 0% 0 4%;
    padding: 3% 0;
    text-align: center;
    text-decoration: underline;
    width: 100%;
}
.lightbox-panel button {
    background: #c0d749;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 0 10px 1px #777777;
    color: #ffffff;
    display: block;
    font-size: 1.750em;
    margin: 6% 0 18%;
    overflow: hidden;
    padding: 2% 0 2%;
    text-shadow: 0px 1px 1px #999999;
    width: 95%; 
}

@media screen and (min-width: 40em) { 

    .lightbox-panel {
        background-position: center 39%;
        background-size: 603px 330px;
        margin: 2% 0 1%;
        padding-left: 40px;
        width: 89.5%;
    }
    .lightbox-panel h2 { font-size: 2.6em; }
    
    .lightbox-panel .close-btn {
        font-size: 64px;
        height: 60px;
        line-height: 62px;
        right: 11px;
        top: -25px;
        width: 60px;    
    }
    .lightbox-panel ol { padding-left: 84px; }
    .lightbox-panel ol li { 
        margin-right: 74px;
        font-size: 1.745em;
    }
    .lightbox-panel button { font-size: 2.5em;}
    .lightbox-panel ol li:before {
        border-top-right-radius: 28px;
        border-bottom-left-radius: 28px;
        font-size: 56px;
        height: 68px;
        left: -84px;
        line-height: 72px;
        width: 68px; 
    }

}
