
/*-----------------------------------------------------------------------------------
Index
-------------------------------------------------------------------------------------
0. Reset
1. Font Declaration and General Text Styles
2. Page Elements
3. Media Queries
-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------
0. Reset
-----------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { font-size: 16px; list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------------------------------------------------------------------
1. Font Declaration and General Text Styles
-----------------------------------------------------------------------------------*/

@font-face {
	font-family: 'ProximaNovaNormal';
	src: url(../fonts/proximanova-regular-webfont.eot);
	src: url(../fonts/proximanova-regular-webfont.eot?#iefix) format("embedded-opentype"),
		 url(../fonts/proximanova-regular-webfont.woff) format("woff"),
		 url(../fonts/proximanova-regular-webfont.ttf) format("truetype"),
		 url(../fonts/proximanova-regular-webfont.svg#webfontB2zd4dmj) format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaLight';
	src: url(../fonts/proximanova-light-webfont.eot);
	src: url(../fonts/proximanova-light-webfont.eot?#iefix) format("embedded-opentype"),
		 url(../fonts/proximanova-light-webfont.woff) format("woff"),
		 url(../fonts/proximanova-light-webfont.ttf) format("truetype"),
		 url(../fonts/proximanova-light-webfont.svg#webfontutyU1bBl) format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaBold';
	src: url(../fonts/proximanova-bold-webfont.eot);
	src: url(../fonts/proximanova-bold-webfont.eot?#iefix) format("embedded-opentype"),
		 url(../fonts/proximanova-bold-webfont.woff) format("woff"),
		 url(../fonts/proximanova-bold-webfont.ttf) format("truetype"),
		 url(../fonts/proximanova-bold-webfont.svg#webfontnDXUNwO9) format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaSemiBold';
	src: url(../fonts/proximanova-semibold-webfont.eot);
	src: url(../fonts/proximanova-semibold-webfont.eot?#iefix) format("embedded-opentype"),
		 url(../fonts/proximanova-semibold-webfont.woff) format("woff"),
		 url(../fonts/proximanova-semibold-webfont.ttf) format("truetype"),
		 url(../fonts/proximanova-semibold-webfont.svg#webfontnDXUNwO9) format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaRegular';
	src: url(../fonts/proximanova-regular-webfont.eot);
	src: url(../fonts/proximanova-regular-webfont.eot?#iefix) format("embedded-opentype"),
		 url(../fonts/proximanova-regular-webfont.woff) format("woff"),
		 url(../fonts/proximanova-regular-webfont.ttf) format("truetype"),
		 url(../fonts/proximanova-regular-webfont.svg#webfontnDXUNwO9) format("svg");
	font-weight: normal;
	font-style: normal;
}
* {
    -webkit-tap-highlight-color:rgba(0,0,0,0) !important;
}
i[class^="icon-"], 
i[class*=" icon-"],
a[href*="notification"]{ text-decoration: none; }

/*-----------------------------------------------------------------------------------
2. Page Elements
-----------------------------------------------------------------------------------*/
/* Globals
---------------------------------*/
html { height: 100%; }
body {
    font: 1em  Helvetica, Arial, sans-serif;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}
:focus { outline: none; }

#page {
    left: 0;
    height: 100%; 
    overflow-x: hidden;
    position: relative;
    top: 0;
    width: 100%;
}
header {
    box-sizing: border-box;
        -webkit-box-sizing: border-box; 
    height: 45px;
    position: fixed;
    z-index: 300;
}
header.blue-bar {
    background: #9fd4ed;
    background: -moz-linear-gradient(top, #9fd4ed 0%, #9fd4ed 23%, #3f9dc7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9fd4ed), color-stop(23%,#9fd4ed), color-stop(100%,#3f9dc7));
    background: -webkit-linear-gradient(top, #9fd4ed 0%,#9fd4ed 23%,#3f9dc7 100%);
    background: -o-linear-gradient(top, #9fd4ed 0%,#9fd4ed 23%,#3f9dc7 100%); 
    background: -ms-linear-gradient(top, #9fd4ed 0%,#9fd4ed 23%,#3f9dc7 100%); 
    background: linear-gradient(to bottom, #9fd4ed 0%,#9fd4ed 23%,#3f9dc7 100%); 
    width: 100%;
}
header.blue-bar h3 {
    color: white;
    float: left;
    font: bold 1.125em Helvetica, Arial, sans-serif;
    padding: 10px 15px;
    text-shadow: 0 -1px rgba(37,133,175,.8);
} 
.login-wrapper {
    background: #ade5fe;
    background: -moz-linear-gradient(top, #ffffff 16%, #ade5fe 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(16%,#ffffff), color-stop(100%,#ade5fe)); 
    background: -webkit-linear-gradient(top, #ffffff 16%,#ade5fe 100%); 
    background: -o-linear-gradient(top, #ffffff 16%,#ade5fe 100%);
    background: -ms-linear-gradient(top, #ffffff 16%,#ade5fe 100%);
    background: linear-gradient(to bottom, #ffffff 16%,#ade5fe 100%);
    height: 100%;
    overflow: auto;
}
.green-btn {
    background: #c0d749;
    background: -moz-linear-gradient(top, #c0d749 0%, #c0d749 49%, #9eb71b 50%, #b5cd39 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c0d749), color-stop(49%,#c0d749), color-stop(50%,#9eb71b), color-stop(100%,#b5cd39));
    background: -webkit-linear-gradient(top, #c0d749 0%,#c0d749 49%,#9eb71b 50%,#b5cd39 100%); 
    background: -o-linear-gradient(top, #c0d749 0%,#c0d749 49%,#9eb71b 50%,#b5cd39 100%);
    background: -ms-linear-gradient(top, #c0d749 0%,#c0d749 49%,#9eb71b 50%,#b5cd39 100%); 
    background: linear-gradient(to bottom, #c0d749 0%,#c0d749 49%,#9eb71b 50%,#b5cd39 100%);
    border: 1px solid #404040;
    border-radius: 6px;
    color: white;
    font: bold 1em Helvetica, Arial, sans-serif;
    text-shadow: 0 -1px rgba(0,0,0,.4);
}
span.note-count {
    color: white;
    display: block;
    position: absolute;
    text-align: center;
}
span.note-count.active { display: block; }
.ecobonus-logo { max-width: 325px; }

.ecobonus-logo img { 
    margin: 0 25%;
    width: 50%;
}
#cancel-button {
    background: #c0d749;
    border-radius: 6px;
        -webkit-border-radius: 6px;
    box-shadow: inset 0 0 10px 1px #777;
    color: white;
    display: block;
    float: right;
    font-size: 100%;
    left: 52%;
    padding: 2.5%;
    position: relative;
    text-align: center;
    text-decoration: none;	
    top: -36px;
    width: 45%;
}

/* Page Header
---------------------------------*/
header.page-header { 
    background-color: #f4f4f4;
    border-bottom: 1px solid #484848;
    left: 0%;
    width: 100%;
}
header.page-header h1 {
    margin: 4px auto; 
    color: #000000;
    width: 91px;
}
header.page-header h1 img { width: 91px; }

header .icon-comment {
    position: absolute;
    right: 6px;
    font-size: 1.8em;
    top: 6px;
    color: #666666;
    text-shadow: -1px -1px #333333;
}
header span.note-count {
    font-size: .5em;
    text-shadow: -1px 0 #333;
    top: 5px;
    right:1px;
    width: 17px;
}
header i.icon-circle { 
    color: red;
    font-size: 1.4em;
    right: 24px;
    position: absolute;
    text-shadow: 1px 1px #333;
    top: 4px;
}

/* Toggle button */
label.nav-tap {
    background: #c8c6c6; 
    background: -moz-linear-gradient(top, #c8c6c6 0%, #f3f3f3 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8c6c6), color-stop(100%,#f3f3f3)); 
    background: -webkit-linear-gradient(top, #c8c6c6 0%,#f3f3f3 100%); 
    background: -ms-linear-gradient(top, #c8c6c6 0%,#f3f3f3 100%); 
    background: linear-gradient(to bottom, #c8c6c6 0%,#f3f3f3 100%);
    border: 1px solid #adadad;
    border-radius: 3px;
    box-shadow: 0 1px 0 #fff, inset 0 1px 0 #fff;
    color: #6f6f6f;
    cursor: pointer;
    float: left;
    height: 28px;
    margin: 6px 0 4px 2.3%;
    padding: 3px 0 0;
    text-align: center;
    width: 31px;
}
label.nav-tap .icon-reorder { font-size: 1.5em; }

/* An invisible label that allows the user to return to the page */
label#contentsideoverlay {
  display: none;
  left: 66%;
  height: 100%; 
  opacity: 0;
  position: absolute;
  top: 44px;
  width: 40%;
  z-index: 99999;

}
#nav { 
    position: absolute;
    top: 6px;
    left: 11px;
    width: 32px;
    height: 32px;
}

/* Main Menu
---------------------------------*/
header.menu-header { 
    background-color: #29292a;
    border-bottom: 1px solid #262626; 
    box-shadow: inset 0 0 15px 0 rgba(0,0,0,.4);
    width: 100%;
}
nav.main-menu {
    background-color: #29292a; 
    height: 100%;
    margin: 0;
    left: 0%;
    overflow-x: hidden;
    padding: 0;
    position: absolute;
    width: 66.2%; 
    z-index: 1;
    visibility: hidden;
}
nav.main-menu .menu-header span {
    color: white;
    text-shadow: 0px -1px 1px #000000;
    font-size: .750em;
    display: block;
    margin: 8px 0 0 3%; 
    position: fixed;
}
nav.main-menu .menu-header span.full-name { 
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
}

nav.main-menu .menu-header span.points-earned { 
    float: left;
    width: 90%;
}
nav.main-menu ul, 
nav.main-menu li {
    float: left;
    margin: 0;
    padding: 0; 
    width: 100%;
}
nav.main-menu ul {
    background-color: #3d3d3f; 
    box-sizing: border-box;
    height: 100%;
    list-style: none;
    overflow: auto;
    padding-top: 43px;
}
nav.main-menu li a {
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid #262626;
    border-radius: 0;
        -webkit-border-radius: 0;
}
nav.main-menu ul li:last-child { border-bottom: 0; }

nav.main-menu li a:hover, 
nav.main-menu li a:focus, 
nav.main-menu li a.nav-button-active { 
    background-color: #29292a; 
    border-color: #111; 
    box-shadow: inset 0 0 15px 0 rgba(0,0,0,.4);
}
nav.main-menu li.active-nav a { 
    background-color: #29292a; 
    border-color: #111; 
    box-shadow: inset 0 0 15px 0 rgba(0,0,0,.4);
}

nav.main-menu a {
    color: #fff;
    font-size: 0.938em;
    display: block;
    float: left;
    margin: 0;
    width: 95%;
    padding: 10.71px 0 15.2px 5%; 
    position: relative;
    text-decoration: none;
    text-shadow: 0px -1px 1px #000000;
}
nav.main-menu li span.note-count {
    font: .5em 'ProximaNovaNormal', Helvetica, sans-serif;
    left: 20%;
    top: 18%;
    width: 58%;
}
nav.main-menu li span.copyright {
    background-color: #29292a;
    box-shadow: inset 0 13px 15px -15px rgba(0,0,0,.4);
    color: #6a6a6b;
    display: block;
    font-size: 8px;
    padding: 6.2% 5%;
}
nav.main-menu li i { 
    font-size: 1.5em;
    position: relative;
    top: 3px;
    right: 2px;
    text-shadow: none;
}
nav.main-menu li i.icon-circle { 
    color: red;
    font-size: 1.7em;
    position: relative;
}

/* Login Page
---------------------------------*/
.login-wrapper { padding: 0 20px; }

.login-inner {
    background: url('../images/leaf-bg.png') no-repeat center 300px;
    background-size: 324px 162px;
}
.login-wrapper .ecobonus-logo { 
    margin: 7px auto 10px;
    max-width: 265px;
}
.login-wrapper .ecobonus-logo img { width: 46%; }

.login-wrapper label {
    display: block;
    font-size: 1.2em;
    float: left;
}
a#forgot-password {
    color: #098aba;
    display: block;
    float: right;
    font: bold .75em Arial, sans-serif;
    padding-top: 4px;
}
.login-wrapper p strong { font: bold 1em Arial, sans-serif; }
.login-wrapper p { font: normal 0.7em Arial, sans-serif; }
form[name="LogonForm"] { height: 100%; }

.checkbox { 
    float: left;
    margin-top: 6px;
}
.checkbox input { float: left; }

.checkbox label {
    display: inline-block;
    float: right;
    font: 0.844em Arial, sans-serif;
    margin-top: 3px;
    padding-left: 4px;
}
.login-wrapper input[type="text"], 
.login-wrapper input[type="password"] {
    border: 1px solid #647d9a;
    border-radius: 6px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.6);
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    height: 29px;
    margin: 0 auto;
    padding-left: 5px;
    width: 100%;
}
.login-wrapper .green-btn { 
    box-shadow: 0 1px 0 rgba(0,0,0,.77),
                inset 0 1px 1px rgba(0,0,0,.7);
    clear: both;
    display: block;
    padding: 10px 0;
    margin: 40px 0 15px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
.login-wrapper small { 
    display: block;
    font: 0.656em Arial, sans-serif;
    margin-top: 5px;
}
.login-wrapper input#userid { margin-bottom: 12px; }

/* Info Boxes - prototype
---------------------------------*/
/*.infobox {
    background-color: #ccc;
    box-sizing: border-box;
    height: 0;
    left: 2.4%;
    position: absolute;
    top: 44px;
    visibility: hidden;
    width: 90%;
    z-index: 9999;
}
.close-infobox {
    background-color: #4b4b4b;
    border-radius: 50%;
    color: white;
    float: right;
    font-size: 26px;
    height: 24px;
    line-height: 26px;
    opacity: 0;
    position: relative;
    right: 20px;
    text-align: center;
    text-decoration: none;
    top: 13px;
    visibility: hidden;
    width: 24px;
}
.infobox.error { 
    background-color: #f9a7a7;
    border-color: #ea3838;
}
.info-inner {
    opacity: 0;
    padding: 15px 30px;
    visibility: hidden;
}
.infobox {
    transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
}
.info-inner, 
.close-infobox {
    transition-duration: 1s;
        -webkit-transition-duration: 1s;
        -moz-transition-duration: 1s;
}
.infobox.activated { 
    height: 50px;
    visibility: visible;
}
.infobox.activated > .info-inner {
    opacity: 1;
    padding: 15px 30px;
    visibility: visible;
}
.infobox.activated > .close-infobox {
    opacity: 1;
    visibility: visible;
}*/

/* Page Layout
---------------------------------*/
#content-wrapper {
    background-color: white;
    box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    float: left;    
    left: 0%;
    height: auto;
    padding-top: 44px;
    position: relative;
    width: 100%;
    z-index: 2;
}
#content-wrapper.gallery-open { padding-top: 0; }
.content { 
    height: auto;
    position: relative;
    width: 100%;
}
.page-title {  position: absolute; }

/* Intro Screens
---------------------------------*/
header.welcome-header { left: 0%; }

header.welcome-header button {
    box-shadow: 0 1px 0 rgba(255,255,255,.36),
                inset 0 1px 1px rgba(0,0,0,.7);
    float: right;
    font-size: .75em;
    margin: 6px 5px 0 0;
    padding: 6px 15px;
}
.welcome-wrapper {
    background: url('../images/wood-bg.jpg') repeat;
    height: 100%;
    overflow: hidden;
}

/* Slider */
.intro-slide-wrapper {
    height: auto;
    min-height: 100%;
    width: 100%;
}
.intro-slider {
    height: auto;
    position: relative;
}
.intro-slider .slide { 
    font-family: 'ProximaNovaNormal', Helvetica, Arial, sans-serif;
    display: none;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    position: relative; 
    width: 100%;
}
.intro-slider .slide.active-slide { display: block; }
.intro-slider .slide p { font-size: 1.25em; }

.intro-slider .slide h2 { 
    font-size: 1.406em; 
    font-family: 'ProximaNovaRegular', Helvetica, Arial, sans-serif; 
}

.intro-slider .slide small { 
    display: block;
    font-family: 'ProximaNovaRegular', Helvetica, Arial, sans-serif;
    font-size: 0.969em;
}
.intro-slider .slide .step { 
    font-family: 'ProximaNovaNormal', Helvetica, sans-serif;
    margin: 10px 0 0 16.5px;
    position: relative;
}

.intro-slider .slide .step span { 
    display: block;
    font: 1.25em 'ProximaNovaSemiBold', Helvetica, sans-serif;
    margin-bottom: 5px;
}
.intro-slider .slide .step p { 
    font-size: .938em;
    width: 84%;
}
.slide-1 > *,
.slide-6 > * { 
    margin: 0 auto;
    text-align: center;
}
.slide-1 .ecobonus-logo { margin: 27px auto 20px; }
.slide-1 .ecobonus-logo img { width: 35%; }
.intro-slider .slide-1 h2 { font-size: 1.2em; }

.intro-slider .slide-1 p {
    font-size: 1.1em;
    padding-bottom: 15px;
    width: 77%;
}
.intro-slider .slide-1 small { 
    margin-top: 10px;
    font-size: .9em;
}
.slide-2 .step img { width: 342px; }

.slide-2 .step1image {
    float: right;
    right: -352px;
    position: relative;
    top: -16px;
}
.slide-2.active-slide .step1image {
    animation: movePhoneLeft 2s forwards;
        -webkit-animation: movePhoneLeft 2s forwards;
}
.slide-2 .step1image-title {
    float: right;
    height: 0;
    right: -50px;
    position: relative;
    top: -505px;
    width: 0;
}
.slide-2.active-slide .step1image-title,
.slide-3.active-slide .step2image-icon, 
.slide-4.active-slide .step3image-button, 
.slide-5.active-slide .step4image-button {
    animation: bounce 3s 2.5s forwards;
        -webkit-animation: bounce 3s 2.5s forwards;
}
.slide-3 .step2image {
    position: relative;
    left: -352px;
    width: 352px;
    top: 16px;
}
.slide-3.active-slide .step2image {
    animation: movePhoneRight 2s forwards;
        -webkit-animation: movePhoneRight 2s forwards;
}
.slide-3 .step2image-icon {
    height: 0;
    left: 177px;
    position: relative;
    top: -502px;
    width: 64px;
}
.slide-4 .step3image {
    left: 78px;
    position: relative;
    top: 100%;
    width: 164px;
}
.slide-4 .step div { height: 400px; }

.slide-4.active-slide .step3image {
    animation: movePhoneUp 2s forwards;
        -webkit-animation: movePhoneUp 2s forwards;
}
.slide-4 .step3image-button {
    left: 109px;
    height: 0;
    position: relative;
    top: -186px;
    width: 85px;
}
.slide-5 .step4image {
    position: relative;
    left: -174px;
    top: 6px;
    width: 165px;
}
.slide-5.active-slide .step4image {
    animation: movePhoneCenter 2s forwards;
        -webkit-animation: movePhoneCenter 2s forwards;
}
.slide-5 .step4image-button {
    height: 0;
    left: -40px;
    position: relative;
    top: -32px;
    width: 59px;
}
.slide-6 span { 
    display: block;
    font: 1.906em 'ProximaSemiNovaBold', Helvetica, sans-serif;
    margin: 48px auto 12px;
}
.slide-6 p { width: 73%; }

.slide-6 button {
    box-shadow: 0 1px 1px rgba(0,0,0,.77),
                inset 0 1px 1px rgba(0,0,0,.7);
    display: block;
    font-size:  1.125em;
    margin: 34px auto 0;
    padding: 9px 25px;
    width: 151px;
}

/* Slider Nav */
.slide-nav {
    height: 17px;
    margin: 0 auto;
    position: relative;
    width: 138px;
}
.intro-slide-wrapper .slide-nav { margin-top: 54px; }

.slide-nav li { 
    background-color: white;
    border: 1px solid #2ba8e1;
    border-radius: 50%;
    display: inline-block;
    height: 14.5px;
    width: 14.5px;
    float: left;
    margin-right: 6px;
}

.slide-nav li.active-nav { background-color: #2ba8e1; }

/* General Text Pages
---------------------------------*/
.general-wrapper {
    background: #f0fafe ;
    float: left;
    min-height: 100%;
    position: relative;
    width: 100%;
}
.general-text-page {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 58px auto 15px;
    padding: 20px 10px;
    width: 87%;
}
.general-text-page h4 { 
    font: bold 1em 'Helvetica', Arial, sans-serif;
    margin-bottom: 5px;
}
.general-text-page h5 {
    font: bold .8em 'Helvetica', Arial, sans-serif;
    margin-bottom: 5px;
}
.general-text-page p {
    font: .8em 'Helvetica', Arial, sans-serif;
    margin-bottom: 15px;
}
.general-text-page a { color: #098aba; }

.general-text-page ul {
    list-style: disc inside;
    margin:0 0 1em 1em; 
}
.general-text-page ol {
    list-style: decimal inside;
    margin:0 0 1em 1em; 
}
.general-text-page strong {
   font:bold;
}
.general-text-page li {
    font-size: .8em;
    padding: 0 0 10px 15px;
    text-indent: -15px;
}
.general-text-page small { font-size: .7em; }

.to-top-link {
    font-size: 12px;
    float: right;
    display: block;
    position: relative;
    top: 15px;
}

/* Notifications
---------------------------------*/
.notifications-wrapper { 
    float: left;
    height: auto;
    margin-top: 43px;
    position: relative;
    width: 100%;
}
.notifications-wrapper li {
    border-bottom: 1px solid #d3d3d3;
    box-sizing: border-box;
    float: left;
    padding: 15px 0 16px 9px; 
    width: 100%;
}
.notifications-wrapper li i {
    box-sizing: border-box;

    display: block;
    float: left;
    margin-right: 12px;
}
.notifications-wrapper li p {
    float: left;
    font-size: .85em;
    width: 77%;
}
.accepted-receipt {
    color: #C1D72E;
    font: bold 1.8em Helvetica, Arial, sans-serif;
    text-align: center;
}
.rejected-receipt {
    color: #ff0000;
    font: bold 1.4em Helvetica, Arial, sans-serif;
    text-align: center;
}
.new-app-version {
    color: #8adafc;
    font: bold 1.5em Helvetica, Arial, sans-serif;
    text-align: center;
}
.new-retailer {
    color: #098ABA;
    font: bold 1.6em Helvetica, Arial, sans-serif;
    text-align: center;
}
.new-brand {
    color: #94af28;
    font: bold 1.6em Helvetica, Arial, sans-serif;
    text-align: center;
}
.empty-notifications li i.icon-comment {
    border-radius: 0;
    color: #ccc;
    font-size: 9em;
    height: auto;
    width: auto;
    margin: 30px 25% 0;
}
.empty-notifications li { border: none; }

.notifications-wrapper .empty-notifications p {
    color: #ccc;
    font-family: 'ProximaNovaNormal', Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    margin: 26px auto 0;
    text-align: center;
    
    width: 100%;
}

/* Activity Page
---------------------------------*/
.date-search-wrap {
    background-color: #22323a;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 400;
}
.date-search-wrap .input-outer-edge { 
    height: 30px;
    padding: 3px 5px;
    position: relative;
    margin-right: 0;
}
.input-bg {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.35);
        -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.35);
    height: 23px;
    padding: 5px 10px 0;
    position: relative;
}
.date-search-wrap .icon-calendar {
    float: right;
    font-size: 1.2em;
    position: relative;
}
header.activity-header { 
    position: relative;
    top: 36px;
}
.activity-page {
    float: left;
    margin-top: 26px;
    position: relative; 
    width: 100%;
}
.activity-page p.top-text {
    color: #7b7b7b;
    font: 0.875em/17px Helvetica, Arial, sans-serif;
    padding:  10px;
}
.empty-activity li .icon-camera {
    color: #ccc;
    display: block;
    font-size: 9em;
    margin: 30px 25% 0;
}
.empty-activity li { border: none; }

.empty-activity p {
    color: #ccc;
    font-family: 'ProximaNovaNormal', Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    margin: 30px auto 0;
    text-align: center;
    width: 73%;
}

/*expandable header*/
.expandable {
    border-bottom: 1px solid #d4d3d3;
    box-sizing: border-box;
        -webkit-box-sizing: border-box;
    padding: 7px 10px 9px;
    width: 100%;
}
.expandable:first-of-type { border-top: 1px solid #d4d3d3; }
.receipt-data { padding-bottom: 6px; }

.expandable .upload-date {
    color: #7b7b7b;
    font: 0.875em/17px Helvetica, Arial, sans-serif;
}
.expandable .reward { 
    float: right; 
    font-size: 1em;
}
.expandable .error {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 70%;
    text-align: right;
}
.expandable .reward .earned { color: #a8bf10; }
.expandable .reward.error .earned { color: #ff0000; }
.expandable .reward.error .earned { font-size: 16px; }
.expandable .reward.error { font-size: 0.781em; }

.expandable-title {
    background-color: white;
    height: 36px;
    position: relative;
}
.plus-sign, 
.minus-sign {
    color: #3f9dc7;
    display: inline-block;
    font: bold 31px/20px Arial, sans-serif;
    margin: 6px 6px 0 8px;
    padding: 3px;
    text-shadow: 0 -1px rgba(0,0,0,.7);
}

.minus-sign span {
    position: relative;
    top: -4px;
    left: -1px
}
.minus-sign { 
    display: none;
    font-size: 46px;
    padding: 1px 4px;
}
.expanded .plus-sign { display: none; }
.expanded .minus-sign { display: inline-block; }

.retailer-logo {
    margin: 2px;
    vertical-align: top;
    width: 32px;
}
.expandable .view-scan {
    box-shadow: 0 1px 0 rgba(255,255,255,.36),
                inset 0 1px 1px rgba(0,0,0,.7);
    float: right;
    font-size: 11px;
    margin: 6px 5px;
    padding: 4px 7px;
    text-decoration: none;
}
.activity-page .title-text {
    color: #303030;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 39% !important;
}
.activity-page td.ui-state-default { font-family: Arial, sans-serif; }

/*expandable content*/
.expandable-content {
    background-color: #eeeeef;
    display: none;
    padding: 5px 10px;
}
.expandable-content li { 
    font-size: .85em;
    margin-bottom: 5px;
    border-bottom: 1px solid #d4d3d3; 
}

div.ui-widget-header {
    background: #9fd4ed;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9fd4ed), color-stop(23%,#9fd4ed), color-stop(100%,#3f9dc7));
    background: -webkit-linear-gradient(top, #9fd4ed 0%,#9fd4ed 23%,#3f9dc7 100%);
    background: linear-gradient(to bottom, #9fd4ed 0%,#9fd4ed 23%,#3f9dc7 100%); 
    border: none;
}
.expandable-content li span.product-name {
    display: inline-block;
    width: 68%;
}

.ui-datepicker {
    margin-top: 2%;
}
/*Loader Starts*/
.update-notice span{
	text-shadow:0px 0px 1px #909e34;
}
.update-notice .ui-loader-default{
	margin:0 0 0 -25px;
    opacity: .5;
}
.update-notice .ui-icon-loading {
	background:url(../images/1.gif) no-repeat scroll 10px 0px transparent;
	width:142px !important;
	height:142px !important;
	display:block !important;
	margin-top:5px !important;
}

.ui-loader .ui-icon{
	background-color:transparent;
	
}

span.ui-icon{
	background-image:none;
}
/*Loader Ends*/

/*Update Notification Starts*/

.ui-mobile .ui-page {
	background:#2890cd;
	 background: -moz-linear-gradient(#2890cd, #fdfeff); /* FF 3.6+ */  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(16%, #2890cd), color-stop(109%, #fdfeff)); /* Safari 4+, Chrome 2+ */  
    background: -webkit-linear-gradient(#2890cd, #fdfeff); /* Safari 5.1+, Chrome 10+ */  
    background: -o-linear-gradient(#2890cd, #fdfeff); /* Opera 11.10 */  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2890cd', endColorstr='#fdfeff'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2890cd', endColorstr='#fdfeff')"; /* IE8+ */  
    background: linear-gradient(#2890cd, #fdfeff); /* the standard */  
}
.update-notice {	
    height: 100%;
    overflow:hidden;
    padding:10px 30px;
}
.update-notice .ecobonus-logo{
	margin:5px auto;
	max-width:265px;
}
.update-notice .ecobonus-logo img{
	margin: 0 21%;
	width: 60%;
}
.update-btns li{
	float:left;
	width:97%;
	padding:15px 0px 16px 0px;
	margin:0 15px 25px 15px;
}
.update-btns i{
	display:block;
	padding:0 10px 0 10px;
}

.update-btns li a{
	float:left;
	width:auto;
	text-decoration:none;
	text-align:center;
	color:#fff;
}
.update-notice .content h2,p{
	padding:7px 0 7px 7px;
	float:left;
	color:#fff;
	width:100%;
	text-shadow:none;
	
}
.update-notice .content,.update-notice .update-btns{
	margin:0px auto;
	float:left;
	display:block;
	width:100%;
}
.update-notice .content h2{
	font-size:25px;
	text-transform:uppercase;
	text-align:center;
	font-family:'ProximaNovaBold';
	padding:0 0 0 3px;
}
.update-notice .content p{
	color:#575757;
	font-size:14px;
	font-family:'ProximaNovaRegular'
		
}

.update-btns .now {
    background: #dbe888;
    background: -moz-linear-gradient(top, #dbe888 0%, #cfe34a 49%, #bfd434 50%, #adc12b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbe888), color-stop(49%,#cfe34a), color-stop(50%,#bfd434), color-stop(100%,#adc12b));
    background: -webkit-linear-gradient(top, #dbe888 0%,#cfe34a 49%,#bfd434 50%,#adc12b 100%); 
    background: -o-linear-gradient(top, #dbe888 0%,#cfe34a 49%,#bfd434 50%,#adc12b 100%);
    background: -ms-linear-gradient(top, #dbe888 0%,#cfe34a 49%,#bfd434 50%,#adc12b 100%); 
    background: linear-gradient(to bottom, #dbe888 0%,#cfe34a 49%,#bfd434 50%,#adc12b 100%);
    border: 1px solid #9ca46a;
    border-radius: 6px;
    color: white;
    font: bold 24px 'ProximaNovaBold';
    text-shadow: 0 -1px rgba(0,0,0,.4);
    margin:0px 0 10px 0;
}


.update-btns .ignore {
    background: #afafaf;
    background: -moz-linear-gradient(top, #afafaf 0%, #9c9c9c 49%, #787878 50%, #6b6a6a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#afafaf), color-stop(49%,#9c9c9c), color-stop(50%,#787878), color-stop(100%,#6b6a6a));
    background: -webkit-linear-gradient(top, #afafaf 0%,#9c9c9c 49%,#787878 50%,#6b6a6a 100%); 
    background: -o-linear-gradient(top, #afafaf 0%,#9c9c9c 49%,#787878 50%,#6b6a6a 100%);
    background: -ms-linear-gradient(top, #afafaf 0%,#9c9c9c 49%,#787878 50%,#6b6a6a 100%); 
    background: linear-gradient(to bottom, #afafaf 0%,#9c9c9c 49%,#787878 50%,#6b6a6a 100%);
    border: 1px solid #7e7e7e;
    border-radius: 6px;
    color: white;
    font: bold 24px 'ProximaNovaBold';
    text-shadow: 0 -1px rgba(0,0,0,.4);
    margin:0 0 10px 0;
}

.update-btns .remind{
    background: #afafaf;
    background: -moz-linear-gradient(top, #dedede 0%, #d9d9d9 49%, #bebebe 50%, #a2a1a1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dedede), color-stop(49%,#d9d9d9), color-stop(50%,#bebebe), color-stop(100%,#a2a1a1));
    background: -webkit-linear-gradient(top, #dedede 0%,#d9d9d9 49%,#bebebe 50%,#a2a1a1 100%); 
    background: -o-linear-gradient(top, #dedede 0%,#d9d9d9 49%,#bebebe 50%,#a2a1a1 100%);
    background: -ms-linear-gradient(top, #dedede 0%,#d9d9d9 49%,#bebebe 50%,#a2a1a1 100%); 
    background: linear-gradient(to bottom, #dedede 0%,#d9d9d9 49%,#bebebe 50%,#a2a1a1 100%);
    border: 1px solid #7e7e7e;
    border-radius: 6px;
    color: white;
    font: bold 24px 'ProximaNovaBold';
    text-shadow: 0 -1px rgba(0,0,0,.4);
    margin:0 0 10px 0;
}
.update-btns .now:hover,.update-btns .ignore:hover,.update-btns .remind:hover{
	color:#fff;
}
.btnText{
	text-shadow:none;
}
/*Update Notification Ends*/


/*view scan gallery*/
.view-scan-gallery { 
    background-color: #3d3d3f;
    box-sizing: border-box;
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 900;
}
.gallery-header {
    background-color: #29292a;
    border-bottom: 1px solid #262626; 
    box-shadow: inset 0 0 15px 0 rgba(0,0,0,.4);
    height: 43px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}
.view-scan-gallery .receipts {
    height: 88%;
    position: relative;
    top: 43px;
}
.view-scan-gallery li img {
    display: inline-block;
    height: auto;
    width: 100%;
}
.view-scan-gallery .receipts li { display: none; }

.view-scan-gallery .receipts li.active-image {
    display: block;
    height: 93%;
    overflow: auto;
    text-align: center;
}
.view-scan-gallery .close {
    background-image: url('../images/close.png');
    background-repeat: no-repeat;
    background-size: 35px 35px;
    display: block;
    float: right;
    height: 34px;
    margin: 7px 5px 0 0;
    position: relative;
    width: 37px;
    text-indent: -99999px;  
}
.view-scan-gallery .slide-nav { 
    background-color: #29292a;
    border-bottom: 1px solid #262626; 
    bottom: 0;
    box-shadow: inset 0 0 15px 0 rgba(0,0,0,.4);
    height: 33px;
    position: fixed;
    width: 100%;
    z-index: 4;
}
.view-scan-gallery .slide-nav ul {
    float: left;
    left: 50%;
    margin: 0 auto;
    position: relative;
}
.view-scan-gallery .slide-nav ul li {
    margin: 8px 10px 0 0;
    position: relative;
    right: 50%;
}

 /* Transitions & Animations
---------------------------------*/
#nav.active-flyout + #page #content-wrapper { box-shadow: -5px 0 29px -5px #000; }
#nav.active-flyout + #page { overflow: hidden; }
#nav.active-flyout + #page .step img { position: relative; }
#nav.active-flyout + #page label#contentsideoverlay { display: block; }

@keyframes movePhoneLeft {
    from { right: -362px; }
    to { right: -80px; }
}
@-webkit-keyframes movePhoneLeft {
    from { right: -362px; }
    to { right: -80px; }
}
@keyframes bounce {
    0% { height: 0; -webkit-transform: scale(.75);}
    25% { height: auto; -webkit-transform: scale(1.5); }
    50% { height: auto; -webkit-transform: scale(1); }
    75% { height: auto; -webkit-transform: scale(1.25); }
    100% { height: auto; -webkit-transform: scale(1); }
}
@-webkit-keyframes bounce {
    0% { height: 0; -webkit-transform: scale(.75);}
    25% { height: auto; -webkit-transform: scale(1.5); }
    50% { height: auto; -webkit-transform: scale(1); }
    75% { height: auto; -webkit-transform: scale(1.25); }
    100% { height: auto; -webkit-transform: scale(1); }
}
@keyframes movePhoneRight {
    from { left: -362px; }
    to { left: -85px; }
}
@-webkit-keyframes movePhoneRight {
    from { left: -362px; }
    to { left: -85px; }
}
@keyframes movePhoneUp {
    0% { top: 100%; }
    100% {  top: 1%; }
}
@-webkit-keyframes movePhoneUp {
    0% { top: 100%; }
    100% {  top: 1%; }
}
@keyframes movePhoneCenter {
    from { left: -174px; }
    to { left: 64px; }
}
@-webkit-keyframes movePhoneCenter {
    from { left: -174px; }
    to { left: 64px; }
}
/*-----------------------------------------------------------------------------------
3. Media Queries
-----------------------------------------------------------------------------------*/
@media screen and (min-width: 40em) { 
    .login-wrapper .ecobonus-logo img {
        margin: 0 21%;
        width: 60%;
    }
    .login-wrapper label { 
        font-size: 1.5em;
        margin-bottom: 5px;
    }
    .ui-datepicker {
        margin-top: 1%;
    }
    .login-wrapper .ecobonus-logo { margin: 50px auto 50px; }
    
    .login-wrapper input[type="text"],
    .login-wrapper input[type="password"] {
        font-size: 1.2em;
        height: 38px;
    }
    .login-wrapper .green-btn { 
        font-size: 1.2em;
        margin: 80px 0 50px;
    }
    .login-wrapper input#userid { margin-bottom: 32px; }
    a#forgot-password { font-size: .85em; }
    .checkbox { margin-top: 26px; }
    .login-wrapper p { font-size: .8em; }
    .login-wrapper small { font-size: .7em; }
    
    nav.main-menu a {
        padding: 14.71px 0 20.2px 5%;
        font-size: 1.1em;
    }
    nav.main-menu .menu-header span { font-size: .950em; }
    nav.main-menu li span.copyright { font-size: 12px; }
    
    .checkbox label {
        font-size: .95em;
        margin-top: 2px;
    }
    .view-scan-gallery .close {
        background-size: 40px 40px;
        margin-top: 4px;
    }
    .slide-1 .ecobonus-logo {
        margin: 60px auto 60px;
    }
    .ecobonus-logo img {
        margin: 0;
        width: 70%;
    }
    .intro-slide-wrapper .slide-nav { margin-top: 74px; }
    
    .intro-slider .slide p { 
        font-size: 1.75em;
        padding-bottom: 30px;
    }
    .intro-slider .slide small { 
        font-size: 1.2em;
        margin-top: 40px;
    }
    .intro-slider .slide .step span { font-size: 1.5em; }
    .intro-slider .slide .step p { font-size: 1.25em; }
    .intro-slider .slide h2 { font-size: 1.706em; }
    
    .slide-1 .ecobonus-logo img { width: 70%; }
    .slide-2 .step img { width: 682px; }
    .slide-2 .step1image-title { top: -990px; }
    .slide-3 .step2image { width: 604px; }
    
    .slide-3 .step2image-icon {
	left: 296px;
        top: -878px;
	width: 144px;
    }
    .slide-4 .step div { height: 670px; }
    
    .slide-4 .step3image { 
    	width: 335px;
    	left: 170px;
     }
     .slide-4 .step3image-button {
        left: 232px;
        top: -222px;
        width: 180px;
    }
    .slide-5 .step4image { width: 358px; }
    
    .slide-5 .step4image-button {
        left: -44px;
        top: -72px;
        width: 136px;
    }
    .slide-6 span { margin-top: 178px; }
    .slide-6 button { margin-top: 100px; }
    
    .empty-activity li .icon-camera, 
    .empty-notifications li i.icon-comment { 
        margin-left: 42%; 
    }
    .activity-page .title-text { width: 72%!important; }
    .expandable-content li span.product-name { width: 83%; }
    
    @keyframes movePhoneLeft {
        from { right: -362px; }
        to { right: -141px; }
    }
    @-webkit-keyframes movePhoneLeft {
        from { right: -362px; }
        to { right: -141px; }
    }
    @keyframes movePhoneCenter {
    	from { left: -174px; }
    	to { left: 184px; }
    }
    @-webkit-keyframes movePhoneCenter {
    	from { left: -174px; }
    	to { left: 184px; }
    }
    @keyframes movePhoneRight {
    	from { left: -362px; }
    	to { left: -122px; }
    }
    @-webkit-keyframes movePhoneRight {
    	from { left: -362px; }
    	to { left: -122px; }
    }
}

@media screen and (min-height: 480px) and (max-width: 40em){
    .login-wrapper .ecobonus-logo { margin: 25px auto 20px; }
    .login-wrapper input#userid { margin-bottom: 22px; }
    .login-wrapper .green-btn { margin: 47px 0 18px; }
    .checkbox { margin-top: 15px; }
    .login-wrapper small { 
        margin-top: 10px;
        padding-bottom: 0;
    }
    .slide-1 .ecobonus-logo { margin: 47px auto 40px; }
    .slide-1 .ecobonus-logo img { width: 45%; }
    .intro-slide-wrapper .slide-nav { margin-top: 64px; }
    
    .intro-slider .slide-1 p { 
        font-size: 1.25em;
        padding-bottom: 25px;
    }
    .intro-slider .slide-1 small {
        margin-top: 20px;
        font-size: .96em;
    }
    .slide-4 .step div { height: 440px; }
    
    .slide-4 .step3image { 
        left: 38px;
        width: 210px;
    }
    .slide-4 .step3image-button { 
        left: 76px;
        top: -160px;
        width: 115px;
    }
    .slide-5 .step4image { width: 217px; }
    
    .slide-5 .step4image-button { 
        left: 125px;
        top: -105px;
        width: 86px;
    }
    @keyframes movePhoneCenter {
    	from { left: -174px; }
    	to { left: 45px; }
    }
    @-webkit-keyframes movePhoneCenter {
    	from { left: -174px; }
    	to { left: 45px; }
    }
}