<!DOCTYPE html>
<html lang="en">
<head>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Hardware Rewards</title> 

    <link rel="stylesheet" href="../css/en/bootstrap.min.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../fonts/font-awesome/css/font-awesome.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../css/en/hwr.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../css/en/fsr_ok.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../css/en/display.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../css/en/hwr_phase2.css" type="text/css" media="screen">
    <!-- <link rel="stylesheet" href="../css/en/bootstrap-modal-carousel.css" type="text/css" media="screen"> -->
    <link rel="stylesheet" href="../css/en/print.css" type="text/css" media="print">
    <!--[if IE 7]><link rel="stylesheet" href="../fonts/font-awesome/css/font-awesome-ie7.css" type="text/css" media="screen"><![endif]-->

	<!--  Shortcut Icon -->
    <link rel="shortcut icon" href="fsr.ico" type="../image/png" />
       
</head>
<body>

	<div class="mainOuter">

		<div class="header">
        	<div class="logo"></div>
			<div class="navigation">
				<ul>
					<li><a href="#" id="navUploadInvoiceLink">UPLOAD<br>IVOICE</a></li>
					<li><a href="mypromotions.do" id="navViewOffersLink">PROMOTIONS <br>&amp; SPECIAL OFFERS</a></li>
					<li><a href="participatingproducts.do" id="navBrowseProductsLink">ELIGIBLE<br>PRODUCTS</a></li>
					<li><a href="rewardscatalog.do" id="navRedeemRewardsLink">SHOP<br>REWARDS</a></li>
					<li><a href="loggedinlearnmore.do" id="navLearnMoreLink">LEARN<br>MORE</a></li>
				</ul>
			</div>
			<div class="userInfo">
	        	<h1>Welcome, <em>Ron </em></h1>
	        	
	        	<h2><span>28001 </span> POINTS</h2>
	        	<div class="details">
	           	   <h1>Welcome, <em>Ron </em></h1>
	           	   <a href="/hardwarerewards/myprofile.do" id="accountLink">My Account</a>
	           	   <a href="javaScript:submitform();" id="chatLink">Chat is: online</a> 
	           	   <a href="/hardwarerewards/logon.do?cmd=logout" id="logoutLink">Log Out</a> 
	           	</div>
	      	</div>			
		</div>

		<div class="mainContainer">
			<div class="container">

				<div class="myAccountLeftCol myAccount">
					<h1>My Account</h1>
					<ul class="myAccountTabs">
						<li><a href="myprofile.do" id="myprofilelink">My Profile</a></li>
						<!-- Commented for Hardware reward as distributors will not be available for HWR -->
						<li><a href="delegates.do" id="mydelegateslink">My Delegates</a></li>
						<li><a href="mystatement.do" id="mystatementlink">My Statement</a></li>
						<li><a href="emailcommunications.do" id="mycommunicationslink">My Communications</a></li>
						<li class="navOn"><a href="myinvoice.do" id="myinvoicelink">My Invoice</a></li>
					</ul>

					<div class="myAccountWrapper">
						<div class="viewInvoice">
							<h2>My Invoice</h2>
							<div class="viewInvoiceTabs">
								<div class="row-fluid">
									<div class="span9">
										<ul>
											<li class="navOn"><a href="#" id="currentActivityLink">Current Activity</a></li>
											<!-- <li><a href="#" id="archivedActivityLink">Archived Activity</a></li> -->
										</ul>
									</div>
									<div class="span3">
										<form class="form-inline pull-right">
											<label class="sortby">Sort by:</label>
											<select>
												<option>Last 7 days</option>
												<option>Last 30 days</option>
												<option>Last 60 days</option>
												<option>Last 90 days</option>
											</select>
										</form>
									</div>
								</div><!-- /.row-fluid -->
							</div>

							<h4>March 19, 2014</h4>
							<table class="table">
								<tbody>
									<tr>
										<td class="retailer-logo">&nbsp;</td>
										<td class="retailer-name">Briggs &amp; Stratton</td>
										<td class="invoice-number">Invoice: 122034465</td>
										<td class="submit-date">Submitted: 03/19/2014</td>
										<td class="points">&nbsp;</td>
										<td class="points-details">&nbsp;</td>
										<td class="invoice-status pull-right"><span class="inProgress"><em>In Progress</em></span></td>
										<td class="lastChild">
											<button data-toggle="modal" data-target="#viewScan1" data-local="#myCarousel" class="btn btn-primary btn-mini">View Scan</button>
										</td>
									</tr>
									<tr>
										<td class="retailer-logo">&nbsp;</td>
										<td class="retailer-name">Briggs &amp; Stratton</td>
										<td class="invoice-number">Invoice: 122034466</td>
										<td class="submit-date">Submitted: 03/19/2014</td>
										<td class="points">&nbsp;</td>
										<td class="points-details">&nbsp;</td>
										<td class="invoice-status pull-right"><span class="inProgress"><em>In Progress</em></span></td>
										<td class="lastChild">
											<button data-toggle="modal" data-target="#viewScan1" class="btn btn-primary btn-mini">View Scan</button>
										</td>
									</tr>
									<tr>
										<td class="retailer-logo">&nbsp;</td>
										<td class="retailer-name">Briggs &amp; Stratton</td>
										<td class="invoice-number">Invoice: 122034467</td>
										<td class="submit-date">Submitted: 03/19/2014</td>
										<td class="points">&nbsp;</td>
										<td class="points-details">&nbsp;</td>
										<td class="invoice-status pull-right"><span class="inProgress"><em>In Progress</em></span></td>
										<td class="lastChild">
											<button data-toggle="modal" data-target="#viewScan1" class="btn btn-primary btn-mini">View Scan</button>
										</td>
									</tr>
								</tbody>
							</table>

							<h4>March 17, 2014</h4>
							<table class="table">
								<tbody>
									<tr>
										<td class="retailer-logo">&nbsp;</td>
										<td class="retailer-name">Briggs &amp; Stratton</td>
										<td class="invoice-number">Invoice: 122034425</td>
										<td class="submit-date">Submitted: 03/17/2014</td>
										<td class="points"><span class="numPoints">10</span> Points</td>
										<td class="points-details">
											Details
											<span>
												<i class="icon-plus-sign accordion-toggle collapsed" data-toggle="collapse" data-target="#1"></i>
												<!-- <i class="icon-minus-sign accordion-toggle hide" data-toggle="collapse" data-target="#1"> -->
											</span>
										</td>
										<td class="invoice-status pull-right">Completed</td>
										<td class="lastChild">
											<button data-toggle="modal" data-target="#viewScan1" class="btn btn-primary btn-mini">View Scan</button>
										</td>
									</tr>
									<tr>
										<td colspan="8" class="hiddenRow">
											<div id="1" class="accordion-body collapse invoiceDetails">
												<div class="pull-left">
													Details go here...
												</div>
												<div class="pull-right">
													<span class="numPoints">10</span> Points</span>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td class="retailer-logo">&nbsp;</td>
										<td class="retailer-name">Briggs &amp; Stratton</td>
										<td class="invoice-number">Invoice: 122034423</td>
										<td class="submit-date">Submitted: 03/17/2014</td>
										<td class="points"><span class="numPoints">15</span> Points</td>
										<td class="points-details">
											Details
											<span><i class="icon-plus-sign accordion-toggle collapsed" data-toggle="collapse" data-target="#2"></i></span>
										</td>
										<td class="invoice-status pull-right">Completed</td>
										<td class="lastChild">
											<button data-toggle="modal" data-target="#viewScan1" class="btn btn-primary btn-mini">View Scan</button>
										</td>
									</tr>
									<tr>
										<td colspan="8" class="hiddenRow">
											<div id="2" class="accordion-body collapse invoiceDetails">
												<div class="pull-left">
													Details go here...
												</div>
												<div class="pull-right">
													<span class="numPoints">15</span> Points</span>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td class="retailer-logo">&nbsp;</td>
										<td class="retailer-name">Briggs &amp; Stratton</td>
										<td class="invoice-number">Invoice: 122034424</td>
										<td class="submit-date">Submitted: 03/17/2014</td>
										<td class="points"><span class="numPoints">1</span> Points</td>
										<td class="points-details">
											Details
											<span><i class="icon-plus-sign accordion-toggle collapsed" data-toggle="collapse" data-target="#3"></i></span>
										</td>
										<td class="invoice-status pull-right">Completed</td>
										<td class="lastChild">
											<button data-toggle="modal" data-target="#viewScan1" class="btn btn-primary btn-mini">View Scan</button>
										</td>
									</tr>
									<tr>
										<td colspan="8" class="hiddenRow">
											<div id="3" class="accordion-body collapse invoiceDetails">
												<div class="pull-left">
													Details go here...
												</div>
												<div class="pull-right">
													<span class="numPoints">1</span> Points</span>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td class="retailer-logo">&nbsp;</td>
										<td class="retailer-name">Briggs &amp; Stratton</td>
										<td class="invoice-number">Invoice: 122034422</td>
										<td class="submit-date">Submitted: 03/17/2014</td>
										<td class="points"><span class="numPoints">0</span> Points</td>
										<td class="points-details">
											Details
											<span>
												<i class="icon-plus-sign accordion-toggle icon-plus-sign collapsed" data-toggle="collapse" data-target="#4"></i>
												<i class="accordion-toggle icon-minus-sign hide" data-toggle="collapse" data-target="#4"></i>

												<!-- <i data-ng-click="collapsed = !collapsed" class="icon-plus-sign ng-class:{'hide':collapsed}" data-toggle="collapse" data-target="#4"></i>
												<i data-ng-click="collapsed = !collapsed" class="icon-minus-sign ng-class:{'hide':!collapsed}" data-toggle="collapse" data-target="#4"></i> -->
											</span>
										</td>
										<td class="invoice-status pull-right"><span class="rejected"><em>Rejected</em></span></td>
										<td class="lastChild">
											<button data-toggle="modal" data-target="#viewScan1" class="btn btn-primary btn-mini">View Scan</button>
										</td>
									</tr>
									<tr>
										<td colspan="8" class="hiddenRow">
											<div id="4" class="accordion-body collapse invoiceDetails">
												<div class="pull-left">
													<em><span class="rejected">Rejected -</span> Reason invoice was rejected.</em>
												</div>
												<div class="pull-right">
													<span class="numPoints">0</span> Points</span>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div><!-- /.viewInvoice -->
					</div>
				</div>
			</div><!-- /.container -->
		</div><!-- /.mainContainer -->
					
	         
		<!--  FOOTER -->
		<div class="footer"> 
			<!--  COPYRIGHT -->
			<div class="copyright">Copyright &copy;2013-2014, Hardware Rewards&reg;. All rights reserved.</div>

			<!--  FOOTER LINKS -->
			<div class="footerLinks thin"> 
				<a href="faq.do">Help</a>
				<span class="footerLinkDivider">&nbsp;|</span>
				<a href="#" class="modalInput" rel="privacypolicy.do privacyPolicy" title="PRIVACY POLICY">Privacy Policy</a>
				<span class="footerLinkDivider">&nbsp;|</span>
				<a href="#" class="modalInput" rel="termsconditions.do termsConditions" title="TERMS & CONDITIONS">Terms &amp; Conditions</a>
				<span class="footerLinkDivider">&nbsp;|</span>
				<a href="sitemap.do">Site Map</a>
				<span class="footerLinkDivider">&nbsp;|</span>
				<a href="contactuslanding.do">Contact Us</a>
			</div>       
		</div>

	</div><!-- /.mainOuter -->

	<!-- View Scan - Invoice Modal -->
	<div id="viewScan1" class="modal hide fade modal-fullscreen force-fullscreen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
			<div class="rotate">
				<a id="rotate" class="minus" title="Rotate left"><i class="icon-rotate-left icon-large"></i></a>
				<a id="rotate" class="plus" title="Rotate right"><i class="icon-rotate-right icon-large"></i></a>
			</div>
			<h3 id="myModalLabel">Invoice: 122034425</h3>
		</div>
		<div class="modal-body">
			<div id="myCarousel" class="carousel slide carousel-fit">
				<ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                  <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                  <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                  <li data-target="#myCarousel" data-slide-to="4" class=""></li>
                </ol>
				<!-- Carousel items -->
				<div id="div-carousel-items" class="carousel-inner">
					<div class="item active">
						<img id="image" src="../images/en/invoice-sample-01.png">
					</div>
					<div class="item">
						<img id="image" src="../images/en/invoice-sample-02.png">
					</div>
					<div class="item">
						<img id="image" src="../images/en/bg-page-01.jpg">
					</div>
					<div class="item">
						<img id="image" src="../images/en/small-invoice-sample.jpg">
					</div>
					<div class="item">
						<img id="image" src="../images/en/test-image.png">
					</div>
				</div>

				<!-- Carousel nav -->
				<a href="#myCarousel" data-slide="prev" class="carousel-control left"><i class="icon-chevron-left"></i></a>
				<a href="#myCarousel" data-slide="next" class="carousel-control right"><i class="icon-chevron-right"></i></a>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-cancel btn-small" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>

	<!-- javascript files -->
	<script src="../scripts/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../scripts/jquery-migrate-1.2.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../scripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../scripts/bootstrap-transition.js" type="text/javascript" charset="utf-8"></script>
	<script src="../scripts/jquery.tools.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../scripts/jquery.spinner.js" type="text/javascript" charset="utf-8"></script>
	<script src="../scripts/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="../scripts/jquery.treeview.js" type="text/javascript" charset="utf-8"></script>
	<script src="../scripts/chat.js" type="text/javascript" charset="utf-8"></script>
	<script src="../scripts/fsr.js" type="text/javascript" charset="utf-8"></script>
	<script src="../scripts/hwr.js" type="text/javascript" charset="utf-8"></script>
	<script src="../scripts/jquery.cycle.js" type="text/javascript" charset="utf-8"></script>
	<script src="../scripts/jquery.form.js" type="text/javascript" charset="utf-8"></script>
	<script src="../scripts/jquery-ui-1.10.4.custom.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../scripts/modernizr-2.6.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../scripts/jquery-rotate.min.js" type="text/javascript" charset="utf-8"></script>
	
	<script>
		$(function() {
		    $('.carousel').each(function(){
		        $(this).carousel({
		            interval: false
		        });
		    });
		});


		/*  Rotate invoice image  */
		newangle = 0;

		$('a#rotate').click(function() {
		    if ($(this).attr('class') == "minus")
		        operation = "-";
		    else
		        operation = "+";
		    
		    //alert(operation)
		    var angle = next(operation);
		    $("div.active img#image").rotate(angle);
		});

		function next(oper) {
		   if (oper == "+")
		      newangle += 90;
		    else
		      newangle -= 90;
		    
		   if (newangle >= 360) newangle = 0;
		    
		    return newangle;
		}

	</script>
			
</body>
</html>