html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }

/* =============================================================================
    Revised EcoBonus Eligible Retailers List
    Author: Court Cromwell-Carl
    Date Created: 2013-05-17
    CONTENTS
    -------------------------------------
    1. General Styles
    2. Search Bar Styles
    3. Section Header Styles
    4. Expandable Section Header Styles
    5. Expandable Section Content Styles
   ========================================================================== */





/* -----------------------------------------------------------------------------
    General Styles
*/
body {
    overflow-y: auto;
    background: #f5f5f5;
}
* { -webkit-tap-highlight-color:rgba(0,0,0,0) !important; }

.input-outer-edge, /* give any classes or ids border box model if needed */
.input-bg,
.expandable-title,
.expandable-title-recent,
.search-wrap input[type="text"],
.ui-autocomplete,
.icn-circ-arrow-right {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.eligible-retailers-list,
.search-wrap input[type="text"] {
    font-family: "HelveticaNeue", "Helvetica Neue", "Roboto", sans-serif !important;
}

.eligible-retailers-list { min-width: 320px; }





/* -----------------------------------------------------------------------------
    Search Bar Styles
*/
.search-wrap {
    padding: 3px 0 3px 10px;
    background-color: #22323a;
    
}

.input-outer-edge { /* gives the search input a border with a linear gradient */
    position: relative;
    height: 30px;
    padding: 1px;
    margin-right: 36px;
    -webkit-border-radius: 15px;
    border-radius: 15px;

    background: -webkit-linear-gradient(top, #7c8fa4 0%, #a2afb9 100%);
    background: -ms-linear-gradient(top, #7c8fa4 0%, #a2afb9 100%);
    background: linear-gradient(to bottom, #7c8fa4 0%, #a2afb9 100%);
}

.input-bg {
    position: relative;
    height: 28px;
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.35);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.35);
    background-color: #fff;
    -webkit-border-radius: 14px;
    border-radius: 14px;
}

.search-wrap input[type="text"] {
    position: absolute;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 7px 30px 3px;
    vertical-align: top;

    font-size: 14px;
    line-height: 28px;
    -webkit-font-smoothing: antialiased;
    
    background: transparent;
    border: none;
    outline: none;
}

/* autocomplete styles */
.ui-menu-item {
    margin-bottom: 2px;
    
    font-size: 14px;
    line-height: 28px;
    
    -webkit-font-smoothing: antialiased;
    color: white;
    background-color: #22323a;
    /*-webkit-border-radius: 5px;*/
    /*border-radius: 5px;*/
    /*border: 1px solid #fff;*/
}
.ui-menu-item:hover {
    
}

.ui-autocomplete {
    position: absolute;
    width: 100%;
    left: 0 !important;
    padding: 6px;
    margin-top: 0px;

    background-color: #22323a;

    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    /*-webkit-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.6);*/
}

/* search icon: http://css-tricks.com/examples/ShapesOfCSS/ */
.icn-search {
    font-size: 20px; /* This controls the size. */
    display: inline-block;
    position: relative;
    width: 0.4em;
    height: 0.4em;
    margin: 7px 4px 0 8px;
    border: 0.1em solid #93989d;
    -webkit-border-radius: 0.35em;
    border-radius: 0.35em;
}
.icn-search::before {
    content: "";
    display: inline-block;
    position: absolute;
    right: -0.25em;
    bottom: -0.1em;
    width: 0.35em;
    height: 0.08em;
    border-width: 0;
    background: #93989d;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* grey circled 'x' icon */
.icn-remove::before { content: "\2716"; }
#clear-search {
    display: block; /* when visible */
    float: right;
  

    

     /* should be hidden on page load and shown once text is entered into search input */
}

/* blue info icon */
.icn-info::before {content: "i"; }
.icn-info {
    display: block;
    float: right;
    width: 18px;
    height: 18px;
    margin: 7px 8px 0 0;

    font-size: 12px;
    line-height: 18px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    -webkit-font-smoothing: none;

    color: #fff;
    background-color: #60b0d4;
    -webkit-border-radius: 9px;
    border-radius: 9px;
}

#search-info-drawer {
    display: none;
}
.info-drawer-content {
    padding: 14px 14px 10px 4px;
    font-size: 12px;
    line-height: 1.4;
    color: #f5fcff;
}
.info-drawer-content h4 {
    font-weight: normal;
    font-size: 14px;
}
.info-drawer-content h4,
.info-drawer-content p {
    margin-bottom: 1em;
}





/* -----------------------------------------------------------------------------
    Section Header Styles
*/
.section-header {
    padding-left: 12px;

    background: -webkit-linear-gradient(top, #9fd4ed 0%, #3f9dc7 100%);
    background: -ms-linear-gradient(top, #9fd4ed 0%, #3f9dc7 100%);
    background: linear-gradient(to bottom, #9fd4ed 0%, #3f9dc7 100%);
}

#eligible-retailer-title h2 {
    display: inline-block;

    font-size: 18px;
    line-height: 42px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;

    color: #fff;
    text-shadow: 0 -1px 1px rgba(37, 133, 175, 0.85);
}

.btn-group {
    display: inline-block;
}

.btn-group .btn {
    display: block; /* Block and float to eliminate whitespace between buttons */
    float: left;    /* caused by line breaks. */
}

.btn-group .btn-left {
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.btn-group .btn-right {
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.section-header .btn {
    width: 65px;
    height: 29px;

    text-align: center;
    line-height: 29px;

    font-size: 12px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;

    color: #fff;
    text-shadow: 0 -1px 2px rgba(42, 124, 163, 0.5);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.85),
                        inset 0 -1px 2px rgba(40, 71, 115, 0.85);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.85),
                        inset 0 -1px 2px rgba(40, 71, 115, 0.85);
    background: -webkit-linear-gradient(top, #8cc8e4 0%, #3387ad 100%);
    background: -ms-linear-gradient(top, #8cc8e4 0%, #3387ad 100%);
    background: linear-gradient(to bottom, #8cc8e4 0%, #3387ad 100%);
}

.section-header .btn.pressed {
    color: #9ad1eb;
    background: none;
    background-color: #3f98c0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.7),
                        inset 0 -1px 2px rgba(40, 71, 115, 0.85),
                        inset 0 0 4px 3px rgba(0, 0, 0, 0.15);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.7),
                        inset 0 -1px 2px rgba(40, 71, 115, 0.85),
                        inset 0 0 4px 3px rgba(0, 0, 0, 0.15);

}

#eligible-retailer-title .btn-group {
    float: right;
    margin: 7px 7px 0 0;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.5);
    background: transparent;
    overflow: hidden;
}





/* -----------------------------------------------------------------------------
    Expandable Section Header Styles
*/
.expandable {
    width: 100%;
    border-bottom: 1px solid #d4d3d3;
}
.expandable-title {
    position: relative;
    height: 40px;
    background-color: #fff;
}
.expandable-title-recent {
    position: relative;
    height: 40px;
    background-color: #fff;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.icn-circ-arrow-right {
    display: inline-block;
    margin: 10px 6px 0 8px;
    padding: 5px 0 0 9px;
    vertical-align: top;
    width: 22px;
    height: 22px;
    background-color: #429fc8;
    -webkit-border-radius: 11px;
    border-radius: 11px;
/*    -webkit-transition: -webkit-transform 0.3s ease-in;
    -me-transition: -me-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;*/
}
.icn-arrow-right {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 6px solid #fff;
    border-bottom: 6px solid transparent;
}

.retailer-logo {
    margin: 4px;
    width: 32px;
    vertical-align: top;
}

/* .title-text { */
/*     display: inline-block; */
/*     vertical-align: top; */
/*     font-size: 16px; */
/*     line-height: 40px; */
/*     font-weight: bold; */
/*     -webkit-font-smoothing: antialiased; */
/*     color: #303030; */
/* } */

.btn-camera {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 56px;
    height: 40px;
    padding: 7px 0 0 6px;
    font-size: 10px; /* control the size of the icon */
}
.icn-camera { /* camera body */
    position: relative;
    width: 3.7em;
    height: 2.5em;
    background-color: #4e4e50;
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
}
.icn-camera::before { /* viewfinder */
    content: "";
    display: block;
    position: absolute;
    left: 0.7em;
    top: -0.2em;
    width: 0.7em;
    height: 0.6em;
    background-color: #4e4e50;
    -webkit-border-radius: 0.35em;
    border-radius: 0.35em;
}
.icn-camera::after { /* flash */
    content: "";
    display: block;
    position: absolute;
    left: 2.5em;
    top: 0.2em;
    width: 0.7em;
    height: 0.2em;
    background-color: #fff;
    border: 0.1em solid #3f3f41;
    -webkit-border-radius: 1.5em;
    border-radius: 1.5em;
}
.icn-camera-lense {
    display: block;
    position: absolute;
    width: 1.8em;
    height: 1.8em;
    left: 0.8em;
    top: 0.4em;
    background-color: #fff;
    border: 0.1em solid #313133;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}
.icn-camera-lense::before { /* lense inner circle */
    content: "";
    display: block;
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    width: 1.4em;
    height: 1.4em;
    background: -webkit-linear-gradient(top, #6d6d6d 0%, #272727 100%);
    background: -ms-linear-gradient(top, #6d6d6d 0%, #272727 100%);
    background: linear-gradient(to bottom, #6d6d6d 0%, #272727 100%);
    -webkit-border-radius: 0.7em;
    border-radius: 0.7em;
}
.icn-camera-lense::after {
    content: "";
    display: block;
    position: absolute;
    left: 0.4em;
    top: 0.4em;
    width: 0.5em;
    height: 0.5em;
    background-color: #fff;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}





/* -----------------------------------------------------------------------------
    Expandable Section Content Styles
*/
.expandable-content {
    display: none;
    font-size: 14px;
    background: -webkit-linear-gradient(top, #f8fdff 0%, #d7f2ff 100%);
    background: -ms-linear-gradient(top, #f8fdff 0%, #d7f2ff 100%);
    background: linear-gradient(to bottom, #f8fdff 0%, #d7f2ff 100%);
}

.expandable-content h4 {
    padding: 1em 2em;
    line-height: 1.2;
    font-weight: bold;
}

.expandable-content p,
.expandable-content ul {
    padding: 0 2em 1em 2em;
}

.expandable-content ul li {
    line-height: 1.3;
}

.expandable-selective-hide 
{
	display: none
	}


.deleteicon 
{
    position: absolute;
	bottom: .1em; 
    right: 5px;
    width: 16px;
    height: 16px;
    padding: 5px;
    display: none;
    background: url('/ecobonus/images/sprites.png') 7px -683px;
    cursor: pointer;
}

.title-text {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow:ellipsis;
    -webkit-font-smoothing: antialiased;
    color: #303030;
}

/* input{ */
/*    text-align:center; */
/* } */