/*-----------------------------------------------------------------------------------
Index
-------------------------------------------------------------------------------------
0. Reset
1. Font Declaration and General Text Styles
2. Page Elements
3. Media Queries
-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------
0. Reset
-----------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { font-size: 1em; list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-----------------------------------------------------------------------------------
1. Font Declaration and General Text Styles
-----------------------------------------------------------------------------------*/

@font-face {
    font-family: 'UniversCondensedNormal';
    src: url(../fonts/ucondensed-webfont.eot);
    src: url(../fonts/ucondensed-webfont.eot?#iefix) format("embedded-opentype"),
         url(../fonts/ucondensed-webfont.woff) format("woff"),
         url(../fonts/ucondensed-webfont.ttf) format("truetype"),
         url(../fonts/ucondensed-webfont.svg#UniverCondensedNormal) format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UniversCondensedLight';
    src: url(../fonts/ucondensed-light-webfont.eot);
    src: url(../fonts/ucondensed-light-webfont?#iefix) format("embedded-opentype"),
         url(../fonts/ucondensed-light-webfont.woff) format("woff"),
         url(../fonts/ucondensed-light-webfont.ttf) format("truetype"),
         url(../fonts/ucondensed-light-webfont.svg#UniverCondensedLight) format("svg");
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-tap-highlight-color:rgba(0,0,0,0) !important;
}
i[class^="icon-"], 
i[class*=" icon-"],
a[href*="notification"], 
a:hover { text-decoration: none; }

/*-----------------------------------------------------------------------------------
2. Page Elements
-----------------------------------------------------------------------------------*/
/* Globals
---------------------------------*/
html { height: 100%; }
body {
    height: 100%;
    background-color: #f5f5f5;
    font-family: 'UniversCondensedNormal', Helvetica, sans-serif;
}

:focus { outline: none; }

.container-fluid { 
    padding-right: 0;
    padding-left: 0;
}

#page {
    background: #f5f5f5;
    left: 0;
    height: 100%;    
    position: relative;
    top: 0;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul, ol { 
    color: #333;
    margin-top: 0;
    padding-bottom: 10px;
}
h1, h2, h3 { 
    margin-top: 10px;
    padding-bottom: 10px;
}
h1:first-child,
h2:first-child,
h3:first-child { margin-top: 0; }
p, ul, ol {
    font-family: 'UniversCondensedNormal', Helvetica, sans-serif;
    font-size: 1em;
    line-height: 18px;
}
a, a:hover { 
    color: #e75204;
    text-decoration: underline;
}
small { font-size: 85%; }
:focus { outline: none; }
span.note-count {
    color: white;
    display: block;
    position: absolute;
    text-align: center;
}
span.note-count.active { display: block; }

.btn {
    display: inline-block;
    color: #FFF;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: 'UniversCondensedNormal', Helvetica, sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0px 10px 0px 0px;
    padding: 0 10px;
}
.btn-primary {
    display: inline-block;
    /*min-width: 180px;*/
    background: #f7931f; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3OTMxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZDE5NGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f7931f 0%, #ed194a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7931f), color-stop(100%,#ed194a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f7931f 0%,#ed194a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f7931f 0%,#ed194a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f7931f 0%,#ed194a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f7931f 0%,#ed194a 100%); /* W3C */ 
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 20px;
    /*font-weight: bold;*/
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 45px;
    margin:0px 10px 0px 0px;
    padding: 0 10px;
}
/*.lt-ie9 .btn-primary {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7931f', endColorstr='#ed194a',GradientType=0 );
}*/
.btn-cancel {
    display: inline-block;
    min-width: 180px;
    background: #b1b1b1; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2IxYjFiMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NDc0NzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #b1b1b1 1%, #747474 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#b1b1b1), color-stop(100%,#747474)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b1b1b1 1%,#747474 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b1b1b1 1%,#747474 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b1b1b1 1%,#747474 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b1b1b1 1%,#747474 100%); /* W3C */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 20px;
    /*font-weight: bold;*/
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 45px;
    margin:0px 10px 0px 0px;
    padding: 0 10px;
}
/*.lt-ie9 .btn-cancel {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1b1b1', endColorstr='#747474',GradientType=0 );
}*/
.btn-primary:hover {
    background: #ed194a;
    color:#fff;
}
.btn-cancel:hover {
    background: #747474;
    color:#fff; 
}

.btn-primary span {
    font-size: 15px;
    line-height: 41px;
    padding:0px 0px 0px 5px;
}
.rgba .btn-primary, 
.btn-primary:hover,
.btn-cancel:hover { filter: none; }

.btn-small {
    min-width: 0;
    font-family: 'UniversCondensedLight', Helvetica, sans-serif;
    font-size: 12px;
    line-height: normal;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0;
    padding: 5px 10px;
}
.btn-mini {
    min-width: 0;
    font-family: 'UniversCondensedLight', Helvetica, sans-serif;
    font-size: 10.5px;
    font-weight: normal;
    line-height: normal;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0;
    padding: 3px 7px;
}
.btn:hover, .btn:focus {
    color: #fff;
    background-color: #ed194c;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.lightbox-panel p { 
    font-size: 85%;
    line-height: 20px;
}
.lightbox-panel .btn {
    display: block;
    text-transform: uppercase; 
    margin: 10px 0 0 0;
}

/* Set icon to gradient (webkit browsers only) */
/*.icon-gradient,
.icon-gradient:before {
    
    /*background: -webkit-gradient(linear, left top, left bottom, from(#f8951d), to(#ed194c));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
}*/

/* Page Header
---------------------------------*/
.page-header { 
    left: 0%;
    width: 100%;
    background-color: #fff;
    margin: 0; /* Resets bootstrap margin setting for .page-header */
    padding: 5px 0;
    z-index: 1;
}
.page-header .logo {
    width: 135px;
    margin: 0 auto;
}
.page-header .comment-bubble {
    background: url(../images/icon-comment.png) no-repeat;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 29px;
}
.page-header span.note-count {
    font-size: .5em;
    text-shadow: -1px 0 #333;
    top: 5px;
    right:1px;
    width: 17px;
}
.page-header i.icon-circle { 
    color: red;
    font-size: 1.4em;
    right: 24px;
    position: absolute;
    text-shadow: 1px 1px #333;
    top: 4px;
}

/* Content wrappers
---------------------------------*/
.content-wrapper {
    position: relative;
    top: 50px;
    background-color: white;
    box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    /*height: 100%;*/
    width: 100%;
    /*z-index: 2;*/
}
.cms-content {
    background-color: #f5f5f5;
}

/* Toggle button */
label.nav-tap {
    float: left;
    width: 37px;
    height: 30px;
    background: #fff; 
    background: -moz-linear-gradient(top, #ebebeb 0%, #ffffff 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(100%,#ffffff)); 
    background: -webkit-linear-gradient(top, #ebebeb 0%,#ffffff 100%); 
    background: -ms-linear-gradient(top, #ebebeb 0%,#ffffff 100%); 
    background: linear-gradient(to bottom, #ebebeb 0%,#ffffff 100%);
    border: 1px solid #ededed;
    border-radius: 3px;
    box-shadow: 0 1px 0 #ededed, inset 0 1px 0 #ededed;
    color: #6f6f6f;
    text-align: center;
    cursor: pointer;
    margin: 0 0 0 10px;
    padding: 7px 0 0;
}
label.nav-tap .icon-reorder { 
    font-size: 1.45em;
    color: #333;
}

/* An invisible label that allows the user to return to the page */
label#contentsideoverlay {
  display: none;
  left: 66%;
  height: 100%; 
  opacity: 0;
  position: absolute;
  top: 44px;
  width: 40%;
  z-index: 99999;

}
#nav { 
    position: absolute;
    top: 6px;
    left: 11px;
    width: 32px;
    height: 32px;
}

/* Main Menu
---------------------------------*/
header.menu-header { 
    background-color: #29292a;
    border-bottom: 1px solid #262626; 
    /* box-shadow: inset 0 0 15px 0 rgba(0,0,0,.4); */
    width: 100%;
}
nav.main-menu {
    background-color: #29292a; 
    height: 100%;
    margin: 0;
    left: 0%;
    overflow-x: hidden;
    padding: 0;
    position: absolute;
    width: 66.2%; 
    z-index: 1;
    visibility: hidden;
    /*display: none;*/
}
nav.main-menu .menu-header p {
	position: fixed;
    color: white;
    text-shadow: 0px -1px 1px #000000;
    font-size: .750em;
    display: block;
   	line-height: 12px;
   	margin-left: 10px;
}
nav.main-menu .menu-header p.full-name {
	top: 8px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: auto;
    height: 22px;
}

nav.main-menu .menu-header p.points-earned { 
	top: 26px;
    float: left;
    width: auto;
    height: 23px; 
}
nav.main-menu ul, 
nav.main-menu li {
    float: left;
    margin: 0;
    padding: 0; 
    width: 100%;
}
nav.main-menu ul {
    background-color: #3d3d3f; 
    box-sizing: border-box;
    height: 100%;
    list-style: none;
    overflow: auto;
    padding-top: 43px;
}
nav.main-menu li a {
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid #262626;
    border-radius: 0;
        -webkit-border-radius: 0;
}
nav.main-menu ul li:last-child { border-bottom: 0; }

nav.main-menu li a:hover, 
nav.main-menu li a:focus, 
nav.main-menu li a.nav-button-active { 
    background-color: #29292a; 
    border-color: #111; 
    box-shadow: inset 0 0 15px 0 rgba(0,0,0,.4);
}
nav.main-menu li.active-nav a { 
    background-color: #29292a; 
    border-color: #111; 
    box-shadow: inset 0 0 15px 0 rgba(0,0,0,.4);
}

nav.main-menu a {
    color: #fff;
    font-size: 0.938em;
    display: block;
    float: left;
    margin: 0;
    width: 95%;
    padding: 10.71px 0 15.2px 5%; 
    position: relative;
    text-decoration: none;
    text-shadow: 0px -1px 1px #000000;
}
nav.main-menu li span.note-count {
    font: .5em 'ProximaNovaNormal', Helvetica, sans-serif;
    left: 20%;
    text-shadow: -1px 0 #333;
    top: 5px;
    width: 17px;
}
nav.main-menu li span.copyright {
    background-color: #29292a;
    box-shadow: inset 0 13px 15px -15px rgba(0,0,0,.4);
    color: #6a6a6b;
    display: block;
    font-size: 0.500em;
    padding: 6.2% 5%;
}
nav.main-menu li i { 
    font-size: 1.5em;
    position: relative;
    top: 3px;
    right: 2px;
    text-shadow: none;
}
nav.main-menu li i.icon-circle { 
    color: red;
    font-size: 1.4em;
    text-shadow: 1px 1px #333;
}

/* Login & Loading Pages
---------------------------------*/
.login {
    position: absolute;
    width: 100%;
    height: 100%;
    /*min-height: 1280px;*/
    background-color: #fff;
    box-shadow: inset 0 0 100px 5px #888;
    overflow: auto;
}
.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: inset 0 0 100px 5px #888;
    overflow: auto;
}
.intro {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: inset 0 0 100px 5px #888;
    overflow: auto;
}

.login .logo, 
.loading .logo {
    text-align: center;
}
.login .logo img,
.loading .logo img {
    max-width: 80%;
    height: auto;
    margin: 10% 0;
}
.login p {
    color: #333;
    margin-bottom: 10px;
    line-height: 27px;
}
.login form {
    max-width: 90%;
    margin: 0 auto;
}
.login label {
    display: block;
    width: 100%;
    font-family: ;
    font: bold 1.2em 'UniversCondensedNormal', Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 5px;
}
.login input[type="text"], 
.login input[type="password"] {
    background-color: rgb(255, 255, 255) !important;
    border: 1px solid #bbb;
    border-radius: 6px;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.6);
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    height: 36px;
    margin: 0 auto 20px auto;
    /*padding: 17px 10px;*/
    width: 100%;
}
.login input[type="password"] { margin: 0 auto; }
.login .forgot {
    display: block;
    float: right;
    font: bold .85em Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    padding-top: 4px;
}
.login label.checkbox {
    clear: both;
    display: block;
    width: 97%;
    text-align: left;
    font: bold 1em 'ProximaNovaNormal', Helvetica, sans-serif;
    padding-top: 20px;
}
.login input[type="checkbox"] {
    background: #fff;
}
.login .btn {
    width: 98%;
    font: bold 1.5em 'UniversCondensedNormal', Helvetica, sans-serif;
    text-transform: uppercase;
    text-shadow: 0 -1px rgba(0,0,0,.4);
    margin: 0 0 40px 0;
    padding: 9px 10px;
}
.login .copyright {
    margin-top: 20px;
}

/* Content styles
---------------------------------*/
.title-bar {
    background-color: #333;
    font: normal 1.2em 'UniversCondensedNormal', Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 10px;
}
.title-bar h1 { 
    font-size: 18px; 
    font-family: 'UniversCondensedNormal', Helvetica, sans-serif;
    color: #fff;
    margin: 0;
    padding: 5px 0;
}
.title-bar .btn {
    float: right;
    width: 65px;
    height: 29px;
    font-size: 14px;
    text-align: center;
    line-height: 29px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(42, 124, 163, 0.5);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.85),
     inset 0 -1px 2px rgba(40, 71, 115, 0.85);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.85),
     inset 0 -1px 2px rgba(40, 71, 115, 0.85);
    background: -webkit-linear-gradient(top, #484848 0%, #343434 100%);
    background: -ms-linear-gradient(top, #484848 0%, #343434 100%);
    background: linear-gradient(to bottom, #484848 0%, #343434 100%);
    /* border: 1px solid #000; */
    padding: 0;
}
.title-bar .btn-group { margin: 0px !important; }
.title-bar .btn-group .btn { margin: 0; }

.well {
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 20px;
    padding-bottom: 40px;
}
.well h2 {
    font-family: 'UniversCondensedNormal', Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}
.well h4 {
    font-size: 1em;
    font-weight: bold;
}
.well .header {
    background-color: #333;
    color: #fff;
    border-radius: 4px 4px 0 0;
    padding: 5px 10px;
}
.well .header h2 {
    color: #fff;
}
.well .header i { margin-top: 7px; }
.well .text-center {
    margin-top: 20px;
}
.well .text-center a {
    font-weight: bold;
    text-decoration: none;
}


/* Upload Tips */
.upload-tips {
    width: 100%;
}
.upload-tips ol {
    width: 99.2%;
    display: block;
    counter-reset: numList;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0 0 0 10px;
}
.upload-tips ol li:before {
    position: absolute;
    float: left;
    top: -6px;
    left: -10px;
    width: 45px;
    height: 45px;
    content: counter(numList);
    counter-increment: numList;
    color: #fff;
    background-color: #333;
    border-radius: 25px;
    font-size: 1.7em;
    line-height: 1.5em;
    text-align: center;
}
.upload-tips ol li {
    float: left;
    position: relative;
    width: 94.3%;
    font-size: 1.075em;
    color: #575757;
    border-bottom: 1px solid #bec0c2;
    margin: 20px 10px 10px 10px;
    padding: 0 0 0 50px;
}
.upload-tips ol li:last-child { border-bottom: none; }
.upload-tips ol li p { 
    line-height: 30px;
    margin-bottom: 20px;
}
.upload-tips .btn {
    width: 98.5%;
    margin: 20px 0 30px 10px;
}
.upload-tips small a { font-size: 1em; }

/* Info Boxes - prototype
---------------------------------*/
.infobox {
    background-color: #ccc;
    box-sizing: border-box;
    height: 0;
    left: 2.4%;
    position: absolute;
    top: 44px;
    visibility: hidden;
    width: 90%;
    z-index: 9999;
}
.close-infobox {
    background-color: #4b4b4b;
    border-radius: 50%;
    color: white;
    float: right;
    font-size: 1.625em;
    height: 24px;
    line-height: 26px;
    opacity: 0;
    position: relative;
    right: 20px;
    text-align: center;
    text-decoration: none;
    top: 13px;
    visibility: hidden;
    width: 24px;
}
.infobox.error { 
    background-color: #f9a7a7;
    border-color: #ea3838;
}
.info-inner {
    opacity: 0;
    padding: 15px 30px;
    visibility: hidden;
}
.infobox {
    transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
}
.info-inner, 
.close-infobox {
    transition-duration: 1s;
        -webkit-transition-duration: 1s;
        -moz-transition-duration: 1s;
}
.infobox.activated { 
    height: 50px;
    visibility: visible;
}
.infobox.activated > .info-inner {
    opacity: 1;
    padding: 15px 30px;
    visibility: visible;
}
.infobox.activated > .close-infobox {
    opacity: 1;
    visibility: visible;
}

/* Page Layout
---------------------------------*/
.content { 
    height: 100%;
    position: relative;
    width: 100%;
}
.overthrow-enabled .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.page-title {  position: absolute; }


/* Intro Screens
---------------------------------*/
header.welcome-header { left: 0%; }

header.welcome-header button, 
header.welcome-header button:hover {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    box-shadow: 0 1px 0 rgba(255,255,255,.36), inset 0 1px 1px rgba(0,0,0,.7);
    border: none;
    float: right;
    font-size: .75em;
    margin: 6px 5px 0 0;
    padding: 6px 15px;
}

header.welcome-header button .blue-btn, 
 {
    background: #79b0d6;
    background: -moz-linear-gradient(top, #79b0d6 0%, #79b0d6 23%, #003781 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#79b0d6), color-stop(23%,#79b0d6), color-stop(100%,#003781));
    background: -webkit-linear-gradient(top, #79b0d6 0%,#79b0d6 23%,#003781 100%);
    background: -o-linear-gradient(top, #79b0d6 0%,#79b0d6 23%,#003781 100%);
    background: -ms-linear-gradient(top, #79b0d6 0%,#79b0d6 23%,#003781 100%);
    background: linear-gradient(to bottom, #79b0d6 0%,#79b0d6 23%,#003781 100%);
    border-radius: 6px;
    color: white;
    font: bold 1.5em Helvetica, Arial, sans-serif;
    text-shadow: 0 -1px rgba(0,0,0,.4);
    text-decoration: none;
}
.welcome-wrapper, .update-notifications-wrapper {
    background: #2890cd;
    background: -moz-linear-gradient(#2890cd, #c7e7ff); /* FF 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(16%, #2890cd), color-stop(109%, #c7e7ff)); /* Safari 4+, Chrome 2+ */  
    background: -webkit-linear-gradient(#2890cd, #c7e7ff); /* Safari 5.1+, Chrome 10+ */  
    background: -o-linear-gradient(#2890cd, #c7e7ff); /* Opera 11.10 */  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2890cd', endColorstr='#fdfeff'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2890cd', endColorstr='#fdfeff')"; /* IE8+ */  
    background: linear-gradient(#2890cd, #c7e7ff); /* the standard */ 
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*  Use this class when no header exists. */
.contractor-rewards {
    background: url('../images/clouds-bg-w1280.png') center 0 no-repeat;
}
/*  Use this class when header does exists. */
.contractor-rewards-header {
    background: url('../images/clouds-bg-w1280.png') center 0 no-repeat;
    margin-top: 45px;
}
.contractor-rewards .contractor-rewards-logo {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}
.contractor-rewards .contractor-rewards-logo img {
    position: relative;
    top: 0;
    left: 34%;
    width: 33%;
}

/* Slider */
.intro-slide-wrapper {
    /*min-height: 100%;*/
    width: 100%;
    /*padding-top: 10px;*/
}

/* Slider Nav */
.slide-nav {
    height: 17px;
    margin: 70px auto;
    position: relative;
    width: 117px;
}
/*.intro-slide-wrapper .slide-nav { margin-top: 54px; }*/

.slide-nav li { 
    background-color: #333;
    border-radius: 50%;
    display: inline-block;
    height: 14.5px;
    width: 14.5px;
    float: left;
    margin-right: 6px;
}
.slide-nav li:last-child { margin-right: 0; }

.slide-nav li.active-nav { background-color: #e65306; }

.intro-slider {
    height: auto;
}
.intro-slider .step { padding-left: 16px; }
.intro-slider .slide .number {
    float: left;
    width: 12%;
    margin-right: 20px;
}
.intro-slider .slide .step h1 {
    font-family: 'UniversCondensedNormal', Helvetica, sans-serif;
    font-size: 1.3em;
    color: #333;
    line-height: 1em;
    text-transform: uppercase;
    padding-bottom: 0;
}
.intro-slider .slide {
    position: relative;
    width: 100%;
    font-family: 'UniversCondensedNormal', Helvetica, sans-serif;
    display: none;
    margin: 0 auto;
    /*overflow: hidden;*/    
}
.intro-slider .slide.active-slide { display: block; }

.intro-slider .slide h2 { 
    font-size: 1.406em; 
    font-family: 'UniversCondensedNormal', Helvetica, sans-serif; 
}

.intro-slider .slide small { 
    display: block;
    font-family: 'UniversCondensedLight', Helvetica, sans-serif;
}
.intro-slider .slide .step { 
    font-family: 'UniversCondensedNormal', Helvetica, sans-serif;
    margin: 10px 0 0 0;
    position: relative;
}

.intro-slider .slide .step span { 
    display: block;
    font: 1.25em 'UniversCondensedNormal', Helvetica, sans-serif;
    margin-bottom: 5px;
}
.intro-slider .slide .step p { 
    width: 75%;
    margin-left: 46px;
    margin-right: 10px;
}
.slide-1 > *,
.slide-6 > * { 
    margin: 0 auto;
    text-align: center;
}

.slide-1 .hwr-logo { margin: 0 auto 70px auto; }
.slide-1 .hwr-logo img { width: 77%; }
.intro-slider .slide-1 h2 { font-size: 1.2em; }

.intro-slider .slide-1 p {
    width: 77%;
    color: #333;
    padding-bottom: 20px;
}
.intro-slider .slide-1 small { margin-top: 10px; }

.slide-2 .step1image {
    position: absolute;
    right: 0;
    width: 704px;
    top: 170px;
}
.slide-3 .step2image, 
.slide-4 .step3image {
    position: absolute;
    top: 120px;
    left: 5%;
    width: 90%;
}
/*.slide-4 .step3image {
    position: absolute;
    left: 39px;
    margin-top: 20px;
    width: 242px;
}*/
.slide-5 .step4image {
    position: absolute;
    top: 170px;
    left: 34%;
    width: 35%;
}

.slide-6 h1 { 
    display: block;
    color: #fff;
    font: 1.5em 'UniversCondensedNormal', Helvetica, sans-serif;
    margin: 48px auto 12px;
}
.slide-6 p { width: 73%; }

.slide-6 .btn-primary {
    display: block;
    border: none;
    border-radius: 6px;
    color: white;
    font: bold 1.5em 'UniversCondensedNormal', Helvetica, sans-serif;
    text-shadow: 0 -1px rgba(0,0,0,.4);
    text-decoration: none;
    text-align: center;
    margin: 100px auto 0 auto;
    padding: 9px 25px;
}

/* General Text Pages
---------------------------------*/
.general-wrapper {
    background: #c7e7ff;
    float: left;
    /* min-height: 100%; */
    position: relative;
    width: 100%;
}
.general-text-page {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 58px auto 15px;
    padding: 20px 10px;
    width: 87%;
}
.general-text-page h4 { 
    color: #575757;
    font: bold 1em 'UniversCondensedNormal', Helvetica, sans-serif;
    margin-bottom: 5px;
}
.general-text-page h5 {
    font: bold .8em 'UniversCondensedNormal', Helvetica, sans-serif;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.general-text-page p {
    color: #575757;
    font: 1em 'UniversCondensedNormal', Helvetica, sans-serif;
    margin-bottom: 15px;
}
.general-text-page a { color: #098aba; }

.general-text-page ul {
    list-style: disc inside;
    margin:0 0 1em 1em; 
}

.general-text-page ol {
    list-style: decimal inside;
    margin:0 0 1em 1em; 
}
.general-text-page strong { font-weight:bold; }

.general-text-page li {
    font-size: .8em;
    padding: 0 0 10px 15px;
    text-indent: -15px;
}
.general-text-page small { font-size: .7em; }

/* Upload Receipt Modal
---------------------------------*/
.lightbox-panel img {
    display: block;
    position: absolute;
    width: 15%;
    left: 90%;
    bottom: 90%;
}

.lightbox-panel span {
    float: left;
    display: block;
    width: 5%;
/*     min-height: 300px !important; */
    color: #b0b0b0;
    font-size: 91.66666%;
}

/* Notifications
---------------------------------*/
.notifications {
    background: none;
    filter: none;
    width: 100%;
    min-height: 330px !important;
}
.notifications li {
    border-bottom: 1px solid #d3d3d3;
    box-sizing: border-box;
    float: left;
    margin: 5px 5px 0px 5px;
    padding: 0; 
    width: 100%;
}
.notifications li i {
    float: left;
    display: block;
    width: 31px;
    box-sizing: border-box;
    margin-right: 12px;
}
.notifications li p {
    float: left;
    width: 95.5%;
    font-size: 1em;
    line-height: 2em;
    padding-bottom: 5px;
}
.accepted-receipt {
    color: #C1D72E;
    /*font: bold 1.8em Helvetica, Arial, sans-serif;*/
    font-size: 1.8em;
    text-align: center;
}
.rejected-receipt {
    color: #ff0000;
    /*font: bold 1.4em Helvetica, Arial, sans-serif;*/
    font-size: 1.8em;
    text-align: center;
}
.new-app-version {
    color: #8adafc;
    /*font: bold 1.5em Helvetica, Arial, sans-serif;*/
    font-size: 1.8em;
    text-align: center;
}
.new-retailer {
    color: #e8cc31;
    /*font: bold 1.6em Helvetica, Arial, sans-serif;*/
    font-size: 1.8em;
    text-align: center;
}
.new-brand {
    color: #94af28;
    /*font: bold 1.6em Helvetica, Arial, sans-serif;*/
    font-size: 1.8em;
    text-align: center;
}
.ui-icon-loading {
background: url(images/ajax-loader.gif);
background-size: 46px 46px;
}

/* Activity Page
---------------------------------*/
.search-wrap a, .search-wrap a:hover { text-decoration: none; }
.date-search-wrap {
    background-color: #22323a;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 400;
}
.date-search-wrap .input-outer-edge { 
    height: 30px;
    padding: 3px 5px;
    position: relative;
    margin-right: 0;
}
.input-bg {
    background-color: #fff;
    border-radius: 13px;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.35);
    height: 23px;
    padding: 5px 10px 0;
    position: relative;
}
.date-search-wrap .icon-calendar {
    float: right;
    color: #7f7f7f;
    font-size: 1.2em;
    position: relative;
}
header.activity-header { 
    position: relative;
    top: 0px;
}
.activity-page {
    float: left;
    /*margin-top: 26px;*/
    margin-bottom: 40px;
    position: relative; 
    width: 100%;
}
.activity-dropdown{
    background-color:#000;
    padding: 7px;
    padding-bottom: 0;
}
.activity-dropdown select {
    width: 100%
}
.activity-page p.top-text {
    color: #7b7b7b;
    font: 1.063em Helvetica, Arial, sans-serif;
    padding:  10px;
}
.empty-activity li .icon-camera {
    color: #ccc;
    display: block;
    font-size: 9em;
    margin: 30px 0;
}
.empty-activity li {
    border: none;
    text-align: center;
}

.empty-activity p {
    color: #ccc;
    font-family: 'UniversCondensedNormal', Helvetica, sans-serif;
    font-size: 1.25em;
    width: 73%;
    text-align: center;
    margin: 30px auto 0;
}

/*expandable header*/
.expandable {
    border-bottom: 1px solid #d4d3d3;
    box-sizing: border-box;
        -webkit-box-sizing: border-box;
    padding: 7px 10px 9px;
    width: 100%;
}
.expandable:first-of-type { border-top: 1px solid #d4d3d3; }
.receipt-data { padding-bottom: 6px; }

.expandable .upload-date {
    color: #7b7b7b;
    /* font: 1.063em Helvetica, Arial, sans-serif; */
    font: 0.875em/17px Helvetica, Arial, sans-serif;
}
.expandable .reward { 
    float: right; 
    font-size: 1em;
}
.expandable .error {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 70%;
    text-align: right;
}
.expandable .reward .earned { color: #e75204; }
.expandable .reward.error .earned { color: #ff0000; }
.expandable .reward.error .earned { font-size: 16px; /* 1em; */ }
.expandable .reward.error { font-size: 0.781em; }

.expandable-title {
    background-color: white;
    height: 36px;
    position: relative;
}
.plus-sign, 
.minus-sign, 
.icon-plus, 
.icon-minus {
    color: #e65306;
    display: inline-block;
    line-height: 20px;
    margin: 8px 0 0 0;
    padding: 3px;
}

/*.minus-sign span, 
.icon-minus span {
    position: relative;
    top: -4px;
    left: -1px
}*/
.expanded .plus-sign,
.expanded .icon-plus { display: none; }
.expanded .minus-sign,
.expanded .icon-minus { display: inline-block; }

.retailer-logo {
    margin: 2px;
    vertical-align: top;
    width: 32px;
}
.nonexpandable-title a,
.expandable-title a { float: right; }
/*.expandable .view-scan {
    float: right;
    width: 83px !important;
    box-shadow: 0 1px 0 rgba(255,255,255,.36),
                inset 0 1px 1px rgba(0,0,0,.7);
    font-size: 0.688em;
    margin: 6px 5px;
    padding: 4px 7px;
    text-decoration: none;
}*/
.title-text {
    color: #303030;
    display: inline-block;
    width: auto;
    font-size: 1em;
    font-weight: bold;
    line-height: 40px;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.activity-page td.ui-state-default { font-family: Arial, sans-serif; }

/*expandable content*/
.expandable-content {
    background-color: #eeeeef;
    display: none;
    padding: 5px 10px;
}
.expandable-content li { 
    font-size: .85em;
    margin-bottom: 5px;
    border-bottom: 1px solid #d4d3d3; 
}

div.ui-widget-header {
    background: #79b0d6;
    background: -moz-linear-gradient(top, #79b0d6 0%, #79b0d6 23%, #003781 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#79b0d6), color-stop(23%,#79b0d6), color-stop(100%,#003781));
    background: -webkit-linear-gradient(top, #79b0d6 0%,#79b0d6 23%,#003781 100%);
    background: -o-linear-gradient(top, #79b0d6 0%,#79b0d6 23%,#003781 100%); 
    background: -ms-linear-gradient(top, #79b0d6 0%,#79b0d6 23%,#003781 100%); 
    background: linear-gradient(to bottom, #79b0d6 0%,#79b0d6 23%,#003781 100%);
    border: none;
}
.expandable-content li span.product-name {
    display: inline-block;
    width: 68%;
}

.ui-datepicker {
    margin-top: 2%;
}

img.spinner {
    text-align: center;
    margin: 0 40%;
}

/*view scan gallery*/
.view-scan-gallery { 
    background-color: #3d3d3f;
    box-sizing: border-box;
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 900;
}
.gallery-header {
    background-color: #29292a;
    border-bottom: 1px solid #262626; 
    box-shadow: inset 0 0 15px 0 rgba(0,0,0,.4);
    height: 43px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}
.view-scan-gallery .receipts {
    position: absolute;
    top: 0;
    width: 100%;
    height: 88%;
}
.view-scan-gallery li img {
    display: inline-block;
    height: auto;
    width: 100%;
}
.view-scan-gallery .receipts li { display: none; }

.view-scan-gallery .receipts li.active-image {
    display: block;
    height: 93%;
    overflow: auto;
    text-align: center;
}
.view-scan-gallery .icon-remove-circle.icon-2x {
    position: absolute;
    top: 7px;
    right: 0;
    margin-right: 15px !important;
    color: #fff;
    opacity: 1;
}
/* .view-scan-gallery .close {
    background-image: url('../images/close.png');
    background-repeat: no-repeat;
    background-size: 35px 35px;
    display: block;
    float: right;
    height: 34px;
    margin: 7px 5px 0 0;
    position: relative;
    width: 37px;
    text-indent: -99999px;  
} */
.view-scan-gallery .slide-nav { 
    background-color: #29292a;
    border-bottom: 1px solid #262626; 
    bottom: 0;
    box-shadow: inset 0 0 15px 0 rgba(0,0,0,.4);
    height: 33px;
    position: fixed;
    width: 100%;
    z-index: 4;
}
.view-scan-gallery .slide-nav ul {
    float: left;
    left: 50%;
    margin: 0 auto;
    position: relative;
}
.view-scan-gallery .slide-nav ul li {
    margin: 8px 10px 0 0;
    position: relative;
    right: 50%;
}

/* Transitions & Animations
---------------------------------*/
#nav.active-flyout + #page #content-wrapper { box-shadow: -5px 0 29px -5px #000; }
#nav.active-flyout + #page { overflow: hidden; }
#nav.active-flyout + #page .step img { position: relative; }
#nav.active-flyout + #page label#contentsideoverlay { display: block; }


/* Misc Classes
---------------------------------*/
.empty {
    margin: 0 auto;
    text-align: center;
}
.empty p {
    color: #ccc;
    font: 1.25em 'UniversCondensedNormal', Helvetica, sans-serif;
    margin-top: 20px; 
}
.empty .icon-comment, 
.empty .icon-camera {
    color: #ccc;
    font-size: 13em;
}


/*  Media Queries
---------------------------------*/
/* Large tablets (portrait) */
/*@media (min-width: 768px) and (max-width: 979px) {*/
@media (min-width: 800px) and (max-height: 1280px) {
    body { height: 1237px; }
    .intro-slide-wrapper { height: 1114px; /* 1157px; */ }
    .intro-slider { padding-bottom: 0; }
    .intro-slider .slide { height: 1027px; }
    .slide-2 .step1image { 
        top: 223px;
        width: 668px;
    }
    .slide-3 .step2image, 
    .slide-4 .step3image { top: 350px; }
    .slide-5 .step4image {
        top: 240px;
        left: 32%;
        width: 40%;
    }
    .slide-6 .btn-primary { margin: 100px 0 0 299px; }
}

/* iPad */
@media (max-width: 768px) and (max-height: 1024px) and (orientation : portrait) {
    .upload-tips ol { width: 98.6%; }
    .upload-tips ol li { 
        width: 90%;
        margin: 20px 10px 10px 10px;
        padding: 8px 0 12px 51px;
    }
    .upload-tips ol li p {
        line-height: 18px;
        padding-bottom: 0;
    }
    .upload-tips .btn { width: 97.3%; }
    .notifications li p { width: 92.7%; }
    /* Intro Slides */
    .intro { height: 971px; }
    .intro-slide-wrapper { height: 901px; }
    .intro-slider { 
        padding-bottom: 0;
    }
    .intro-slider .slide { height: 814px; }
    .intro-slider .slide .step h1 { padding-top: 20px; }
    .slide-2 .step1image { width: 535px; }
    .slide-3 .step2image, 
    .slide-4 .step3image { 
        top: 190px;
        left: 10%;
        width: 80%;
    }

    .login .btn { width: 97%; }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    body {height: 1024px; }
    .login { height: 1024px; }
    .intro { height: 971px; }
    .intro-slide-wrapper { height: 901px; }
    .intro-slider { 
        padding-bottom: 0;
    }
    .intro-slider .slide { height: 814px; }
    .intro-slider .slide .step h1 { padding-top: 20px; }
    .slide-2 .step1image { width: 535px; }
    .slide-3 .step2image, 
    .slide-4 .step3image { 
        top: 270px;
        left: 19%;
        width: 60%;
    }
    .slide-5 .step4image {
        top: 175px;
        left: 32%;
        width: 35%;
    }
    .slide-6 .btn-primary { margin: 100px auto 0 auto; }
}

/*@media (max-width: 768px) and (max-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .upload-tips ol { width: 98.6%; }
    .upload-tips ol li { 
        width: 90%;
        margin: 20px 10px 10px 10px;
        padding: 8px 0 12px 51px;
    }
    .upload-tips ol li p {
        line-height: 18px;
        padding-bottom: 0;
    }
    .upload-tips .btn { width: 97.3%; }
    .notifications li p { width: 92.7%; }
    .intro { height: 1942px; }
    .intro-slide-wrapper { height: 1802px; }
    .intro-slider { padding-bottom: 0; }
    .intro-slider .slide { height: 1775px; }
    .intro-slider .slide .step h1 { padding-top: 20px; }
    .slide-2 .step1image { 
        width: 1054px;
        top: 517px;
    }
    .slide-3 .step2image, 
    .slide-4 .step3image { 
        top: 480px;
        left: 5%;
        width: 90%;
    }
    .slide-5 .step4image {
        top: 510px;
        left: 34%;
        width: 35%;
    }

    .login .btn { width: 97%; }

}*/
 
/* smaller tablets (portrait) */
@media (max-width: 767px) {
    .well .header i { margin-top: 7px; }
    .upload-tips ol { width: 98.5%; }
    .upload-tips ol li { 
        width: 89.5%;
        margin: 20px 10px 10px 10px;
        padding: 10px 0 10px 51px;
    }
    .upload-tips ol li p {
        line-height: 18px;
        padding-bottom: 0;
    }
    .upload-tips .btn { width: 97%; }
    .notifications li p { width: 90.5%; }

    .login .btn { width: 96.3%; }
}

/*  Small tablets (portrait)  */
@media (max-width: 600px) {
    .well h2 { font-size: 1.45em; }
    .upload-tips ol { width: 98%; }
    .upload-tips ol li {
        width: 86.1%;
        margin: 20px 10px 0 10px;
    }
    .upload-tips .btn { width: 96.2%; }
    .notifications li p { width: 84%; }

    /* Intro Slides */
    .intro { height: 747px; }
    .intro-slide-wrapper { height: 677px; }
    .intro-slider .slide { height: 590px; }
    .intro-slider .slide .step h1 { padding-top: 10px; }
    .slide-2 .step1image { width: 349px; }
    .slide-3 .step2image, 
    .slide-4 .step3image { 
        top: 120px; 
        left: 11%;
        width: 80%;
    }
    .slide-5 .step4image { top: 140px; }

    .lightbox-panel h2 { font-size: 1.3em }
}
 
/*  Smartphones (portrait)  */
@media (max-width: 360px) {
    p { 
        font-size: 0.85em;
        line-height: 18px;
    }
    .login { box-shadow: inset 0 0 50px 5px #888; }
    .login form { width: 85%; }
    .login label { font-size: 1em; }
    .login label.checkbox { 
        font-size: .85em;
        line-height: 20px;
    }
    .login .forgot { font-size: 0.75em; }
    .login p { line-height: 18px; }
    .login .btn { width: 93.5%; }
    .title-bar { padding: 5px 10px; }
    .title-bar .btn { margin: 0; }
    /*.title-bar h1 { font-size: 1.05em; }*/
    .title-text { max-width: 188px; }
    .expandable .reward .earned { font-size: 12px; }
    .well { 
        margin: 15px;
        padding: 10px 10px 0px 10px;
    }
    .well h2 {
        font-family: 'UniversCondensedNormal', Helvetica, sans-serif;
        font-size: 0.875em;
        font-weight: bold;
        line-height: 1.5em;
        text-transform: uppercase;
    }
    .well .header { padding: 0 8px; }
    .well .header h2 { 
        font-size: 1.2em;
        margin-top: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .well .header i { 
        font-size: 1.5em;
        margin-top: 7px;
    }
    .upload-tips ol { width: 97%; }
    .upload-tips ol li:before {
        width: 35px;
        height: 35px;
        border-radius: 20px;
        font-size: 1.3em;
        line-height: 1.7em;
    }
    .upload-tips ol li { 
        width: 80%;
        margin: 20px 10px 0 10px;
        padding: 0 0 0 39px;
    }
    .upload-tips ol li p { 
        line-height: 18px;
        margin-bottom: 20px;
        padding-bottom: 0;
    }
    .upload-tips .btn { 
        width: 93.4%;
        margin: 20px 0 20px 10px;
    }
    .upload-tips small a { font-size: 0.85em; }
    .well .text-center { margin-top: 0; }
    .notifications li p { 
        width: 82%;
        font-size: 0.85em;
    }

    /* Intro Slides */
    .slide-nav { margin: 50px auto; }
    .intro { height: 597px; }
    .intro-slide-wrapper { height: 547px; }
    .intro-slider .slide { height: 480px; }
    .intro-slider .slide .number { margin-right: 10px; }
    .intro-slider .slide .step { margin: 10px 16px 0 0; }
    .intro-slider .slide .step h1 {
        font-size: 1em;
        padding-top: 0;
    }
    .intro-slider .slide .step p { margin-left: 46px; }
    .slide-1 .hwr-logo { margin: 0 auto 50px auto; }
    .slide-2 .step1image { 
        top: 158px; 
        width: 268px;
    }
    .slide-3 .step2image,
    .slide-4 .step3image {
        top: 170px;
        left: 10%;
        width: 80%;
    }
    .slide-5 .step4image {
        top: 120px;
        left: 29%;
        width: 45%;
    }
    .slide-6 button { 
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
    .slide-6 .btn-primary { font-size: 1.2em; }

    .lightbox-panel h2 { font-size: 1em; }
}

/*  Smartphones (portrait)  */
@media (max-width: 320px) {
    .login { box-shadow: inset 0 0 40px 5px #888; }
    .login .logo img { margin: 10% 0; }
    .login input[type="text"], 
    .login input[type="password"] { height: 30px; }
    .login label.checkbox {
        line-height: 20px; 
        padding-top: 10px;
    }
    .login .btn { width: 93%; }
    .title-bar h1 { font-size: 0.95em; }
    h3.title-text { font-size: 0.9em; }
    .well { 
        padding-bottom: 0px;
        padding: 10px;
        margin: 10px;
    }
    .upload-tips ol { 
        width: 96.3%;
        padding: 0 0 0 5px;
    }
    .upload-tips ol li { 
        width: 77.1%;
        padding: 0 0 0 39px;
    }.upload-tips ol li:before {
        line-height: 1.6em;
    }
    .upload-tips ol li p {
        font-size: 0.80em;
        margin-bottom: 10px;
    }
    .upload-tips .btn { width: 92.4%; }

    /* Intro Slides */
    .intro { height: 525px; }
    .intro-slide-wrapper { height: 490px; }
    .intro-slider .slide { height: 438px; }
    .slide-nav { margin: 35px auto; }
    .slide-1 .hwr-logo { margin: 0 auto 35px auto; }
    .slide-2 .step1image { 
        width: 233px;
        bottom: 0;
    }
    .slide-3 .step2image, 
    .slide-4 .step3image {
        left: 8%;
        width: 85%;
    }
    li.slide.slide-6 { margin-top: -13px; }
    .slide-6 .btn-primary { font: bold 0.85em 'UniversCondensedNormal', Helvetica, sans-serif; }
}

/*  iPhone 4  */
@media (max-width: 320px) and (max-height: 480px) {
    .login .logo img { margin: 20px 0; }
    .intro { height: 437px; }
    .intro-slide-wrapper {height: 402px; }
    .intro-slider .slide { height: 350px; }
    .slide-2 .step1image { 
        top: 120px;
        width: 191px;
    }
    .slide-3 .step2image, 
    .slide-4 .step3image {
        top: 126px;
    }
    .slide-5 .step4image {
        top: 100px;
        left: 33%;
        width: 35%;
    }
    .slide-6 h1 { margin: 35px auto 12px; }
    .slide-6 .btn-primary { font-size: 0.75em; }

    .login input[type="text"] {
        margin: 0 auto 10px auto;
    }
    .login .btn { 
        width: 92.6%;
        margin: 0 0 20px 0;
    }
    .login p { padding-bottom: 0; }
}

@media (max-width: 280px) {
    .login { min-height: 436px; }
    nav.main-menu .menu-header p.full-name { width: 55%; }
    .title-bar h1 { font-size: 0.75em; }
    .title-bar .btn {
        width: 55px;
        height: 24px;
        font-size: 12px;
        line-height: 24px;
    }
    .intro { height: 442px; }
    .slide-nav { margin: 25px auto; }
    .intro-slide-wrapper {height: 407px; }
    .intro-slider .slide { height: 375px; }
    .intro-slider .slide .step h1 { font-size: 0.85em; }
    .intro-slider .slide .step p { margin-left: 35px; }
    .slide-2 .step1image {
        top: 137px;
        width: 198px;
    }
    .slide-3 .step2image, 
    .slide-4 .step3image {
        top: 140px; 
        left: 10%;
        width: 80%;
    }
    .step-5 .step4image { top: 115px; }
    .slide-6 h1 { margin: 25px auto 12px; }
    .slide-6 .btn-primary { font-size: 0.70em; }
}