body {
	background-color: #55b0f0;
}
.login-container {
	width: 164px;
	margin: 200px auto;
}
img,
input[type="text"], 
input[type="password"], 
a.btn {
	display: block;
	width: 164px;
	margin-bottom: 10px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
input[type="text"], 
input[type="password"] {
	font-family: 'FuturaStd-BookOblique', sans-serif;
	font-size: 14px;
}
.btn-default {
	background-color: #e6591e;
	color: #fff;
	border-color: #e6591e;
	font-family: 'FuturaStd-Light', sans-serif;
	text-transform: uppercase;
	padding: 6px 40px;
}
.btn-default:hover {
	background-color: #c0c0c0;
	border-color: #c0c0c0;
	color: #fff;
}