html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }

/* =============================================================================
    Revised EcoBonus Eligible Retailers List
    Author: Court Cromwell-Carl
    Date Created: 2013-05-17
    CONTENTS
    -------------------------------------
    1. General Styles
    2. Search Bar Styles
    3. Section Header Styles
    4. Expandable Section Header Styles
    5. Expandable Section Content Styles
   ========================================================================== */





/* -----------------------------------------------------------------------------
    General Styles
*/
* { -webkit-tap-highlight-color:rgba(0,0,0,0) !important; }

body {
    background: #c7e7ff;
    background: -moz-linear-gradient(#2890cd, #c7e7ff); /* FF 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(16%, #2890cd), color-stop(109%, #c7e7ff)); /* Safari 4+, Chrome 2+ */  
    background: -webkit-linear-gradient(#2890cd, #c7e7ff); /* Safari 5.1+, Chrome 10+ */  
    background: -o-linear-gradient(#2890cd, #c7e7ff); /* Opera 11.10 */  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2890cd', endColorstr='#c7e7ff'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2890cd', endColorstr='#c7e7ff')"; /* IE8+ */  
    background: linear-gradient(#2890cd, #c7e7ff); /* the standard */ 
}

.input-outer-edge, /* give any classes or ids border box model if needed */
.input-bg,
.expandable-title,
.search-wrap input[type="text"],
.ui-autocomplete,
.icn-circ-arrow-right {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.eligible-retailers-list,
.search-wrap input[type="text"] {
    font-family: "HelveticaNeue", "Helvetica Neue", "Roboto", sans-serif !important;
}

.eligible-retailers-list { width: 100%; }


/* -----------------------------------------------------------------------------
    Search Bar Styles
*/
.search-wrap {
    padding: 3px 0 3px 10px;
    background-color: #22323a;
}

.input-outer-edge { /* gives the search input a border with a linear gradient */
    position: relative;
    height: 30px;
    padding: 1px;
    margin-right: 36px;
    -webkit-border-radius: 15px;
    border-radius: 15px;

    background: -webkit-linear-gradient(top, #7c8fa4 0%, #a2afb9 100%);
    background: -ms-linear-gradient(top, #7c8fa4 0%, #a2afb9 100%);
    background: linear-gradient(to bottom, #7c8fa4 0%, #a2afb9 100%);
}

.input-bg {
    position: relative;
    height: 28px;
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.35);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.35);
    background-color: #fff;
    -webkit-border-radius: 14px;
    border-radius: 14px;
}

.search-wrap input[type="text"] {
    position: absolute;
    left: 0;
    width: 100%;
    margin: 2px;
    padding: 0 0 0 28px;
    vertical-align: top;

    font-size: 14px;
    line-height: 17px;
    -webkit-font-smoothing: antialiased;
    
    background: transparent;
    border: none;
    outline: none;
    pointer-events: auto !important;
}

/* autocomplete styles */
.ui-menu-item {
    margin-bottom: 2px;
    
    font-size: 14px;
    line-height: 28px;
    
    -webkit-font-smoothing: antialiased;
    color: white;
    background-color: #22323a;
    /*-webkit-border-radius: 5px;*/
    /*border-radius: 5px;*/
    /*border: 1px solid #fff;*/
}
.ui-menu-item:hover {
    
}

.ui-autocomplete {
    position: absolute;
    width: 100%;
    left: 0 !important;
    padding: 6px;
    margin-top: 0px;

    background-color: #22323a;

    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    /*-webkit-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.6);*/
}

/* search icon: http://css-tricks.com/examples/ShapesOfCSS/ */
.icn-search {
    font-size: 20px; /* This controls the size. */
    display: inline-block;
    position: relative;
    width: 0.4em;
    height: 0.4em;
    margin: 4px 4px 0 4px;
    border: 0.1em solid #93989d;
    -webkit-border-radius: 0.35em;
    border-radius: 0.35em;
}
.icn-search::before {
    content: "";
    display: inline-block;
    position: absolute;
    right: -0.25em;
    bottom: -0.1em;
    width: 0.35em;
    height: 0.08em;
    border-width: 0;
    background: #93989d;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* grey circled 'x' icon */
.icn-remove::before { content: "\2716"; }
#clear-search {
    display: block; /* when visible */
    float: right;
    width: 22px;
    height: 22px;
    margin-right: 3px;
    margin-top: 3px;

    font-size: 14px;
    line-height: 22px;
    text-align: center;
    -webkit-font-smoothing: antialiased;

    color: #fff;
    background: #999;
    -webkit-border-radius: 11px;
    border-radius: 11px;

    display: none; /* should be hidden on page load and shown once text is entered into search input */
}

/* blue info icon */
.icn-info::before {content: "i"; }
.icn-info {
    display: block;
    float: right;
    width: 18px;
    height: 18px;
    margin: 7px 8px 0 0;

    font-size: 12px;
    line-height: 18px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    -webkit-font-smoothing: none;

    color: #fff;
    background-color: #60b0d4;
    -webkit-border-radius: 9px;
    border-radius: 9px;
}

#search-info-drawer {
    display: none;
}
.info-drawer-content {
    padding: 14px 14px 10px 4px;
    font-size: 12px;
    line-height: 1.4;
    color: #f5fcff;
}
.info-drawer-content h4 {
    font-weight: normal;
    font-size: 14px;
}
.info-drawer-content h4,
.info-drawer-content p {
    margin-bottom: 1em;
}

/* -----------------------------------------------------------------------------
    Section Header Styles
*/
/*.section-header {
    padding-left: 12px;
    background: #9fd4ed;
    background: -moz-linear-gradient(top, #9fd4ed 0%, #9fd4ed 23%, #3f9dc7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9fd4ed), color-stop(23%,#9fd4ed), color-stop(100%,#3f9dc7));
    background: -webkit-linear-gradient(top, #9fd4ed 0%,#9fd4ed 23%,#3f9dc7 100%);
    background: -o-linear-gradient(top, #9fd4ed 0%,#9fd4ed 23%,#3f9dc7 100%); 
    background: -ms-linear-gradient(top, #9fd4ed 0%,#9fd4ed 23%,#3f9dc7 100%); 
    background: linear-gradient(to bottom, #9fd4ed 0%,#9fd4ed 23%,#3f9dc7 100%);
}*/

.section-header {
    padding-left: 12px;
    background: #79b0d6;
    background: -moz-linear-gradient(top, #79b0d6 0%, #79b0d6 23%, #003781 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#79b0d6), color-stop(23%,#79b0d6), color-stop(100%,#003781));
    background: -webkit-linear-gradient(top, #79b0d6 0%,#79b0d6 23%,#003781 100%);
    background: -o-linear-gradient(top, #79b0d6 0%,#79b0d6 23%,#003781 100%);
    background: -ms-linear-gradient(top, #79b0d6 0%,#79b0d6 23%,#003781 100%);
    background: linear-gradient(to bottom, #79b0d6 0%,#79b0d6 23%,#003781 100%);
}

#eligible-retailer-title h2 {
    display: inline-block;

    font-size: 18px;
    line-height: 42px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;

    color: #fff;
    text-shadow: 0 -1px 1px rgba(37, 133, 175, 0.85);
}

.btn-group {
    display: inline-block;
}

.btn-group .btn {
    display: block; /* Block and float to eliminate whitespace between buttons */
    float: left;    /* caused by line breaks. */
}

.btn-group .btn-left {
    -webkit-border-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group .btn-right {
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.section-header .btn {
    width: 65px;
    height: 29px;
    text-align: center;
    line-height: 29px;
    font-size: 12px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    text-shadow: 0 -1px 2px rgba(42, 124, 163, 0.5);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.85),
                        inset 0 -1px 2px rgba(40, 71, 115, 0.85);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.85),
                inset 0 -1px 2px rgba(40, 71, 115, 0.85);
    background: -webkit-linear-gradient(top, #79b0d6 0%, #003781 100%);
    background: -ms-linear-gradient(top, #79b0d6 0%, #003781 100%);
    background: linear-gradient(to bottom, #79b0d6 0%, #003781 100%);
}

.section-header .btn.pressed {
    color: #9ad1eb;
    background: none;
    background-color: #4178ae;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.7),
                        inset 0 -1px 2px rgba(40, 71, 115, 0.85);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.7),
                        inset 0 -1px 2px rgba(40, 71, 115, 0.85);

}

/*#eligible-retailer-title .btn-group {
    float: right;
    margin: 7px 7px 0 0;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.5);
    background: transparent;
    overflow: hidden;
}*/

.btn-group {
    float: right;
    margin: 7px 7px 0 0;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.5);
    background: transparent;
    overflow: hidden;
}
.btn { 
    border:none;
    padding: 0;
}





/* -----------------------------------------------------------------------------
    Expandable Section Header Styles
*/
.expandable {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #d4d3d3;
    -webkit-box-sizing: border-box;
    padding: 7px 10px 9px;
}
.expandable-title,
.expandable-title-recent {
    position: relative;
    height: 40px;
    background-color: #fff;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*.plus-sign, 
.minus-sign {
    color: #3f9dc7;
    display: inline-block;
    font: bold 34px/22px Arial, sans-serif;
    margin: 9px 6px 0 8px;
    padding:0;
    -webkit-transition: -webkit-transform 0.3s ease-in;
    -me-transition: -me-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    text-shadow: 0 -1px rgba(0,0,0,.7);
}

.minus-sign { 
    display: none;
    font-size: 46px;
    margin-top: 5px;
    margin-right: 11px;
}
.expanded .plus-sign { display: none; }
.expanded .minus-sign { display: inline-block; }*/

/*.retailer-logo {
    margin: 4px;
    width: 32px;
    vertical-align: top;
}*/

.icon-chevron {
    position: absolute;
    top: 5px;
    right: 0;
    color: #b0b0b0;
    width: 17px;
    height: 17px;
}

.retailer-logo {
    margin: 2px;
    vertical-align: top;
    width: 32px;
}

.title-text {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow:ellipsis;
    -webkit-font-smoothing: antialiased;
    color: #303030;
    width: 46% !important;
}

.btn-camera {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 56px;
    height: 40px;
    padding: 7px 0 0 6px;
    font-size: 10px; /* control the size of the icon */
}
.icn-camera { /* camera body */
    position: relative;
    width: 3.7em;
    height: 2.5em;
    background-color: #4e4e50;
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
}
.icn-camera::before { /* viewfinder */
    content: "";
    display: block;
    position: absolute;
    left: 0.7em;
    top: -0.2em;
    width: 0.7em;
    height: 0.6em;
    background-color: #4e4e50;
    -webkit-border-radius: 0.35em;
    border-radius: 0.35em;
}
.icn-camera::after { /* flash */
    content: "";
    display: block;
    position: absolute;
    left: 2.5em;
    top: 0.2em;
    width: 0.7em;
    height: 0.2em;
    background-color: #fff;
    border: 0.1em solid #3f3f41;
    -webkit-border-radius: 1.5em;
    border-radius: 1.5em;
}
.icn-camera-lense {
    display: block;
    position: absolute;
    width: 1.8em;
    height: 1.8em;
    left: 0.8em;
    top: 0.4em;
    background-color: #fff;
    border: 0.1em solid #313133;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}
.icn-camera-lense::before { /* lense inner circle */
    content: "";
    display: block;
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    width: 1.4em;
    height: 1.4em;
    background: -webkit-linear-gradient(top, #6d6d6d 0%, #272727 100%);
    background: -ms-linear-gradient(top, #6d6d6d 0%, #272727 100%);
    background: linear-gradient(to bottom, #6d6d6d 0%, #272727 100%);
    -webkit-border-radius: 0.7em;
    border-radius: 0.7em;
}
.icn-camera-lense::after {
    content: "";
    display: block;
    position: absolute;
    left: 0.4em;
    top: 0.4em;
    width: 0.5em;
    height: 0.5em;
    background-color: #fff;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

/* -----------------------------------------------------------------------------
    Bootstrap Overrides
*/
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}


/* -----------------------------------------------------------------------------
    Expandable Section Content Styles
*/
.expandable-content {
    display: none;
    font-size: 14px;
    background: -webkit-linear-gradient(top, #e1f4fc 0%, #d4f1ff 100%);
    background: -ms-linear-gradient(top, #e1f4fc 0%, #d4f1ff 100%);
    background: linear-gradient(to bottom, #e1f4fc 0%, #d4f1ff 100%);
}

.expandable-content h4 {
    padding: 1em 2em;
    line-height: 1.2;
    font-weight: bold;
}

.expandable-content p,
.expandable-content ul {
    padding: 0 2em 1em 2em;
}

.expandable-content ul li {
    line-height: 1.3;
}

#recent-retailers, 
#all-retailers {
    float: left;
    position: relative;
    width: 100%;
}
@media screen and (min-width: 40em) { 
    /*.title-text { width: 80% !important; }*/
    .title-text { width: 91% !important; }
}